<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:osgix="http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:ctx="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.osgi.org/xmlns/blueprint/v1.0.0
		http://www.osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd
		http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium
		http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium/gemini-blueprint-compendium.xsd
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.2.xsd">

	<bean id="eventAdmin" class="net.solarnetwork.util.DynamicServiceTracker">
		<property name="bundleContext" ref="bundleContext"/>
		<property name="serviceClassName" value="org.osgi.service.event.EventAdmin"/>
	</bean>

	<bean id="nodeMetadataService" class="net.solarnetwork.util.DynamicServiceTracker">
		<property name="bundleContext" ref="bundleContext"/>
		<property name="serviceClassName" value="net.solarnetwork.node.NodeMetadataService"/>
	</bean>

	<bean id="subMessageSource" class="net.solarnetwork.node.util.PrefixedMessageSource">
		<property name="prefix" value="characteristics."/>
		<property name="delegates">
			<map>
				<entry key="characteristics.">
					<bean class="org.springframework.context.support.ResourceBundleMessageSource">
						<property name="basename" value="net.solarnetwork.node.control.esi.domain.ResourceCharacteristics"/>
					</bean>
				</entry>
				<entry key="priceMap.">
					<bean class="org.springframework.context.support.ResourceBundleMessageSource">
						<property name="basename" value="net.solarnetwork.node.control.esi.domain.PriceMap"/>
					</bean>
				</entry>
				<entry key="programType.">
					<bean class="org.springframework.context.support.ResourceBundleMessageSource">
						<property name="basename" value="net.solarnetwork.node.control.esi.domain.DerProgramType"/>
					</bean>
				</entry>
			</map>
		</property>
	</bean>	
		
	<!-- ESI PriceMap Services -->
	
	<bean id="priceMapMessageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>net.solarnetwork.node.control.esi.EsiPriceMap</value>
				<value>net.solarnetwork.node.control.esi.BaseEsiMetadataComponent</value>
				<value>net.solarnetwork.node.support.BaseIdentifiable</value>
			</list>
		</property>
		<property name="parentMessageSource" ref="subMessageSource"/>
	</bean>

	<service interface="net.solarnetwork.node.settings.SettingSpecifierProviderFactory">
		<bean class="net.solarnetwork.node.settings.support.BasicSettingSpecifierProviderFactory">
			<property name="displayName" value="ESI PriceMap"/>
			<property name="factoryUID" value="net.solarnetwork.node.control.esi.pricemap"/>
			<property name="messageSource" ref="priceMapMessageSource"/>
		</bean>
	</service>
	
	<osgix:managed-service-factory factory-pid="net.solarnetwork.node.control.esi.pricemap" 
			autowire-on-update="true" update-method="configurationChanged">
		<osgix:interfaces>
			<beans:value>net.solarnetwork.node.control.esi.domain.PriceMapAccessor</beans:value>
			<beans:value>net.solarnetwork.node.settings.SettingSpecifierProvider</beans:value>
		</osgix:interfaces>
		<osgix:service-properties>
			<beans:entry key="settingPid" value="net.solarnetwork.node.control.esi.pricemap"/>
		</osgix:service-properties>
		<bean id="controller" class="net.solarnetwork.node.control.esi.EsiPriceMap">
			<property name="messageSource" ref="priceMapMessageSource"/>
			<property name="nodeMetadataService" ref="nodeMetadataService"/>
			<!--property name="eventAdmin" ref="eventAdmin"/-->
		</bean>
	</osgix:managed-service-factory>
	
	<!-- ESI Program Settings Services -->
	
	<bean id="programMessageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>net.solarnetwork.node.control.esi.EsiProgram</value>
				<value>net.solarnetwork.node.control.esi.BaseEsiMetadataComponent</value>
				<value>net.solarnetwork.node.support.BaseIdentifiable</value>
			</list>
		</property>
		<property name="parentMessageSource" ref="subMessageSource"/>
	</bean>

	<service interface="net.solarnetwork.node.settings.SettingSpecifierProviderFactory">
		<bean class="net.solarnetwork.node.settings.support.BasicSettingSpecifierProviderFactory">
			<property name="displayName" value="ESI Program"/>
			<property name="factoryUID" value="net.solarnetwork.node.control.esi.program"/>
			<property name="messageSource" ref="programMessageSource"/>
		</bean>
	</service>
	
	<osgix:managed-service-factory factory-pid="net.solarnetwork.node.control.esi.program" 
			autowire-on-update="true" update-method="configurationChanged">
		<osgix:interfaces>
			<beans:value>net.solarnetwork.node.settings.SettingSpecifierProvider</beans:value>
		</osgix:interfaces>
		<osgix:service-properties>
			<beans:entry key="settingPid" value="net.solarnetwork.node.control.esi.program"/>
		</osgix:service-properties>
		<bean id="controller" class="net.solarnetwork.node.control.esi.EsiProgram">
			<property name="messageSource" ref="programMessageSource"/>
			<property name="nodeMetadataService" ref="nodeMetadataService"/>
		</bean>
	</osgix:managed-service-factory>

	<!-- ESI Resource Services -->
	
	<bean id="resourceMessageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>net.solarnetwork.node.control.esi.EsiResource</value>
				<value>net.solarnetwork.node.control.esi.BaseEsiMetadataComponent</value>
				<value>net.solarnetwork.node.support.BaseIdentifiable</value>
			</list>
		</property>
		<property name="parentMessageSource" ref="subMessageSource"/>
	</bean>

	<service interface="net.solarnetwork.node.settings.SettingSpecifierProviderFactory">
		<bean class="net.solarnetwork.node.settings.support.BasicSettingSpecifierProviderFactory">
			<property name="displayName" value="ESI Resource"/>
			<property name="factoryUID" value="net.solarnetwork.node.control.esi.resource"/>
			<property name="messageSource" ref="resourceMessageSource"/>
		</bean>
	</service>
	
	<osgix:managed-service-factory factory-pid="net.solarnetwork.node.control.esi.resource" 
			autowire-on-update="true" update-method="configurationChanged">
		<osgix:interfaces>
			<beans:value>net.solarnetwork.node.control.esi.domain.ResourceAccessor</beans:value>
			<beans:value>net.solarnetwork.node.settings.SettingSpecifierProvider</beans:value>
		</osgix:interfaces>
		<osgix:service-properties>
			<beans:entry key="settingPid" value="net.solarnetwork.node.control.esi.resource"/>
		</osgix:service-properties>
		<bean id="controller" class="net.solarnetwork.node.control.esi.EsiResource">
			<property name="messageSource" ref="resourceMessageSource"/>
			<property name="nodeMetadataService" ref="nodeMetadataService"/>
		</bean>
	</osgix:managed-service-factory>
	
</blueprint>
