<!DOCTYPE html>
<html data-th-replace="~{layout :: layout(~{::title}, ~{::main}, ~{}, 'home')}">
<head>
    <title data-th-text="#{home.title}">SolarNode</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../css/bootstrap.css">
	<link rel="stylesheet" href="../../css/bootstrap-theme.css">
	<link rel="stylesheet" href="../../css/dataTables.bootstrap.css">
	<link rel="stylesheet" href="../../css/global.css">
	<link rel="stylesheet" href="../../css/edit-node.css">
</head>
<body>
<main class="container content-absolute">
	<div class="content-absolute container">
		<div class="row justify-content-center content-vertical-center">
			<div class="col-sm-7 col-md-5">	
				<p class="lead text-center" data-th-text="#{home.intro}">
					Welcome to SolarNode.
				</p>
				<div class="d-grid">
					<a href="/a/home" class="btn btn-primary"
						data-th-href="@{/a/home}"
						data-th-text="#{link.login}">
						Login
					</a>
				</div>
			</div>
		</div>
	</div>
</main>
</body>
</html>