<!DOCTYPE html>
<html data-th-replace="~{layout :: layout(~{::title}, ~{::body}, ~{footer-top :: content}, 'logging')}"
	xmlns:snode="http://solarnetwork.net/taglib/thymeleaf-solarnode-setup">
<head>
    <title data-th-text="#{app.title(#{logging.title})}">SolarNode Logging</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../css/bootstrap.css">
	<link rel="stylesheet" href="../../css/solarnode.css">
	<link rel="stylesheet" href="../../css/fonts.css">
	<link rel="stylesheet" href="../../css/bootstrap-icons.css">
</head>
<body data-th-remove="tag">

<section class="intro">
	<h2 data-th-text="#{logging.title}">
		Logging
	</h2>
	<p data-th-utext="#{logging.intro}">
		About logging.
	</p>
	<div class="d-flex justify-content-end">
		<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#edit-logger-level-modal">
			<i class="bi bi-plus-lg"></i>
			<span data-th-text="#{logging.level.add}">Add</span>
		</button>
	</div>
</section>
<section id="logging">
	<h2 data-th-text="#{logging.levels.title}">Logging Levels</h2>
	<table class="table table-sm table-hover" id="logging-levels">
		<thead>
			<tr>
				<th data-th-text="#{logging.levels.logger.label}">Logger</th>
				<th data-th-text="#{logging.levels.level.label}">Level</th>
			</tr>
			<tr class="template clickable item">
				<td><a href="#" data-tprop="logger"></a></td>
				<td data-tprop="level"></td>
			</tr>
		</thead>
		<tbody class="list-container">
		</tbody>
	</table>
</section>

<form id="edit-logger-level-modal" data-th-action="@{/a/logging/levels}" data-th-replace="~{inc/modals :: modal_form(
			id = edit-logger-level-modal,
			action = @{/a/logging/levels}, 
			title = #{logging.levels.edit.title},
			body = ~{::#edit-logger-level-modal//.modal-body}, 
			footer = ~{::#edit-logger-level-modal//.modal-footer},
			additionalClass = modal-lg,
			staticModal = true)}">

	<div class="modal-body">
		<p data-th-utext="#{logging.levels.edit.intro}">
			About logging levels.
		</p>
		<label class="form-label" for="logging-logger-levels-logger" data-th-text="#{logging.levels.logger.label}">Logger</label>
		<input class="form-control" type="text" maxlength="256" name="logger" id="logging-logger-levels-logger" aria-describedby="logging-logger-levels-logger-help">
		<div class="form-text" id="logging-logger-levels-logger-help" data-th-utext="#{logging.levels.logger.caption}">
			Caption about logger.
		</div>

		<label class="form-label mt-3" for="logging-logger-levels-level" data-th-text="#{logging.levels.level.label}">Level</label>
		<select class="form-select" name="level" id="logging-logger-levels-level" aria-describedby="logging-logger-levels-level-help">
			<option value="trace" data-th-text="#{logging.levels.TRACE.label}">TRACE</option>
			<option value="debug" data-th-text="#{logging.levels.DEBUG.label}">DEBUG</option>
			<option value="info" selected data-th-text="#{logging.levels.INFO.label}">INFO</option>
			<option value="warn" data-th-text="#{logging.levels.WARN.label}">WARN</option>
			<option value="error" data-th-text="#{logging.levels.ERROR.label}">ERROR</option>
			<option value="off" data-th-text="#{logging.levels.OFF.label}">OFF</option>
			<option value="inherit" data-th-text="#{logging.levels.INHERIT.label}">INHERIT</option>
		</select>
		<span class="form-text" id="logging-logger-levels-level-help" data-th-utext="#{logging.levels.level.caption}">
			Caption about levels.
		</span>

		<p class="create mt-3" data-th-utext="#{logging.levels.edit.loggers.intro}">
			About editing logging levels.
		</p>
		<select class="create form-select" name="loggers" readonly size="10" id="logging-loggers">
			<option value="trace" data-th-text="#{logging.levels.TRACE.label}">TRACE</option>
			<option value="debug" data-th-text="#{logging.levels.DEBUG.label}">DEBUG</option>
			<option value="info" selected data-th-text="#{logging.levels.INFO.label}">INFO</option>
			<option value="warn" data-th-text="#{logging.levels.WARN.label}">WARN</option>
			<option value="error" data-th-text="#{logging.levels.ERROR.label}">ERROR</option>
			<option value="off" data-th-text="#{logging.levels.OFF.label}">OFF</option>
		</select>
	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-th-replace="~{inc/buttons :: button_close_modal}">Close</button>
		<button type="submit" class="btn btn-primary" data-th-text="#{logging.levels.edit.save.label}">Save</button>
	</div>

</form>

</body>
</html>
