<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>SolarNode Navbar</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="base-path" content="/">
	<meta name="authenticated" content="true">
	<link rel="stylesheet" href="../../css/bootstrap.css">
	<link rel="stylesheet" href="../../css/solarnode.css">
	<link rel="stylesheet" href="../../css/fonts.css">
	<link rel="stylesheet" href="../../css/bootstrap-icons.css">
	<script src="../../js-lib/jquery-3.7.1.js"></script>
	<script src="../../js-lib/jquery.form.js"></script>
	<script src="../../js-lib/bootstrap.bundle.js"></script>
</head>
<body data-th-fragment="navbar" data-th-remove="tag"
	data-th-with="isLoggedIn=${#authentication != null && #authorization.expression('hasRole(''ROLE_USER'')') ? true : false},homeUrl=${isLoggedIn ? '/a/home' : '/'}">
	<div class="navbar navbar-expand-md bg-body-tertiary mb-3">
		<div class="container-fluid">
			<a class="navbar-brand" href="/" data-th-href="@{${homeUrl}}">
				<img src="../../img/logo-node.svg" alt="SolarNode" width="143" height="28"
					data-th-src="@{/img/logo-node.svg}" 
					data-th-alt="#{app.name}">
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-content" 
				aria-controls="navbar-content" aria-expanded="false" 
				aria-label="Toggle"
				data-th-aria-label="#{nav.toggle.title}"
				>
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse flex-grow-0" id="navbar-content">		
				<ul class="navbar-nav gap-3">
					<li class="nav-item">
						<a class="nav-link"
							data-th-classappend="${navloc == 'home' and isLoggedIn}?active"
							href="/a/home"
							data-th-href="@{${homeUrl}}"
							data-th-text="isLoggedIn ? #{link.home} : #{link.login}">
							Login
						</a>
					</li>
		
					<li class="nav-item dropdown" sec:authorize="hasRole('ROLE_USER')">
						<a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false"
							data-th-classappend="${
							   navloc == 'settings'
							|| navloc == 'services'
							|| navloc == 'settings-component'
							|| navloc == 'backups'
							|| navloc == 'filters'
							|| navloc == 'datum-sources'
							|| navloc == 'filters-component'
							|| navloc == 'locstate'
							|| navloc == 'opmodes'
							}?active">
							Settings
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu" sec:authorize="hasRole('ROLE_USER')">
							<li><a class="dropdown-item" href="/a/settings"
								data-th-classappend="${navloc == 'settings'}?active"
								data-th-href="@{/a/settings}"
								data-th-text="#{link.factories}">Components</a></li>
							<li><a class="dropdown-item" href="/a/settings/services"
								data-th-classappend="${navloc == 'services'}?active"
								data-th-href="@{/a/settings/services}"
								data-th-text="#{link.services}">Services</a></li>
							<li><a class="dropdown-item" href="/a/settings/filters"
								data-th-classappend="${navloc == 'filters'}?active"
								data-th-href="@{/a/settings/filters}"
								data-th-text="#{link.filters}">Filters</a></li>
							<li><a class="dropdown-item" href="/a/datum-sources"
								data-th-classappend="${navloc == 'datum-sources'}?active"
								data-th-href="@{/a/datum-sources}"
								data-th-text="#{link.datum-sources}">Datum Sources</a></li>
							<li><a class="dropdown-item" href="/a/logging"
								data-th-classappend="${navloc == 'logging'}?active"
								data-th-href="@{/a/logging}"
								data-th-text="#{link.logging}">Logging</a></li>
							<li><a class="dropdown-item" href="/a/opmodes"
								data-th-classappend="${navloc == 'opmodes'}?active"
								data-th-href="@{/a/opmodes}"
								data-th-text="#{link.opmodes}">Operational Modes</a></li>
							<li><a class="dropdown-item" href="/a/local-state"
								data-th-classappend="${navloc == 'locstate'}?active"
								data-th-href="@{/a/local-state}"
								data-th-text="#{link.locstate}">Local State</a></li>
							<li><a class="dropdown-item" href="/a/settings/backups"
								data-th-classappend="${navloc == 'backups'}?active"
								data-th-href="@{/a/settings/backups}"
								data-th-text="#{link.backups}">Backups</a></li>
						</ul>
					</li>
	
					<li class="nav-item dropdown" sec:authorize="hasRole('ROLE_USER')">
						<a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false"
							data-th-classappend="${
								   navloc == 'cert'
								|| navloc == 'plugins'
								|| navloc == 'packages'
								}?active"
							data-th-text="#{link.system}"
							>
							System
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="/a/certs"
								data-th-classappend="${navloc == 'cert'}?active"
								data-th-href="@{/a/certs}"
								data-th-text="#{link.cert}">Certificates</a></li>
							<li data-th-if="${platformPackageService}"><a class="dropdown-item" href="/a/packages"  id="link-packages"
								data-th-classappend="${navloc == 'packages'}?active"
								data-th-href="@{/a/packages}"
								data-th-text="#{link.packages}">Packages</a></li>
							<li data-th-if="${platformPackageService}"><a class="dropdown-item" href="/a/plugins"  id="link-plugins"
								data-th-classappend="${navloc == 'plugins' ?active}"
								data-th-href="@{/a/plugins}"
								data-th-text="#{link.plugins}">Plugins</a></li>
							<li role="separator" data-th-if="${systemService}"><hr class="dropdown-divider"></li>
							<li data-th-if="${systemService}"><a class="dropdown-item" href="/a/hosts"
								data-th-classappend="${navloc == 'hosts'}?active"
								data-th-href="@{/a/hosts}"
								data-th-text="#{link.hosts}">Hosts</a></li>
							<li role="separator" data-th-if="${systemService}"><hr class="dropdown-divider"></li>
							<li data-th-if="${systemService}"><button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#restart-modal"
								data-th-text="#{link.restart}">Restart</button></li>
							<li role="separator" data-th-if="${systemService}"><hr class="dropdown-divider"></li>
							<li data-th-if="${systemService}"><button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#reset-modal"
								data-th-text="#{link.reset}">Reset</button></li>
						</ul>
					</li>
	
					<li class="nav-item dropdown" sec:authorize="hasRole('ROLE_USER')">
						<a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false"
								data-th-classappend="${
								   navloc == 'cli-console' 
								|| navloc == 'metrics'
								|| navloc == 'controls'
								}?active"
								data-th-text="#{link.tools}">
							Tools
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu dropdown-menu-md-end">
							<li><a class="dropdown-item" href="/a/controls"
								data-th-classappend="${navlok == 'controls'}?active"
								data-th-href="@{/a/controls}"
								data-th-text="#{link.controls}"
								>Controls</a></li>
							<li><a class="dropdown-item" href="/a/cli-console"
								data-th-classappend="${navlok == 'cli-console'}?active"
								data-th-href="@{/a/cli-console}"
								data-th-text="#{link.cli-console}"
								>CLI Console</a></li>
							<li data-th-if="${metricDao}"><a class="dropdown-item" href="/a/metrics"
								data-th-classappend="${navlok == 'metrics'}?active"
								data-th-href="@{/a/metrics}"
								data-th-text="#{link.metrics}"
								>Metrics</a></li>
						</ul>
					</li>
					<li class="nav-item dropdown" sec:authorize="hasRole('ROLE_USER')">
						<a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false"
							data-th-classappend="${
								   navloc == 'sectoks'
								|| navloc == 'user'
								}?active"
							>
							<span class="active-user-display" data-th-text="#{nav.label.principal(${#authentication.principal.username})}">
								user@localhost
							</span>
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu dropdown-menu-md-end">
							<li><a class="dropdown-item" href="/a/security-tokens"
								data-th-href="@{/a/security-tokens}"
								data-th-text="#{link.sectoks}"
								>Security Tokens</a></li>
							<li><a class="dropdown-item" href="/a/user/change-password"
								data-th-href="@{/a/user/change-password}"
								data-th-text="#{link.change-password}"
								>Change Password</a></li>
							<li><a class="dropdown-item" href="/a/user/change-username"
								data-th-href="@{/a/user/change-username}"
								data-th-text="#{link.change-username}"
								>Change Username</a></li>
							<li><a class="dropdown-item logout" href="#"
								data-th-text="#{link.logout}"
								>Logout</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<form id="logout-form" method="post" action="/logout" data-th-action="@{/logout}" data-th-if="${isLoggedIn}">
	</form>
	<form id="restart-modal" data-bs-backdrop="static" data-bs-keyboard="false" action="/a/home/restart" method="post"
			data-th-action="@{/a/home/restart}"
			data-th-classappend="'modal fade'"
			data-th-if="${isLoggedIn}"
			>
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title" data-th-text="#{restart.title}">Restart</h3>
					<button type="button" class="btn-close start" data-bs-dismiss="modal" aria-label="Close"
						data-th-aria-label="#{close.label}"></button>
				</div>
				<div class="modal-body start">
					<p data-th-text="#{restart.intro}">
						Would you like to reboot or restart?
					</p>
				</div>
				<div class="modal-body success" style="display: none;">
					<div class="progress" role="progressbar">
						<div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 100%"></div>
					</div>
					<p class="my-3" data-th-text="#{restart.underway}">
						Restarting...
					</p>
				</div>
				<div class="modal-footer start">
					<a href="#" class="btn btn-secondary" data-bs-dismiss="modal" data-th-text="#{close.label}">Close</a>
					<button type="submit" class="btn btn-danger reboot" data-th-text="#{restart.action.reboot}">Reboot</button>
					<button type="submit" class="btn btn-primary" data-th-text="#{restart.action.restart}">Restart</button>
				</div>
				<input type="hidden" name="reboot" value="false"/>
			</div>
		</div>
	</form>
	<form id="reset-modal" data-bs-backdrop="static" data-bs-keyboard="false" action="/a/home/reset" method="post"
			data-th-action="@{/a/home/reset}"
			data-th-classappend="'modal fade'"
			data-th-if="${isLoggedIn}">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title" data-th-text="#{reset.title}">Reset</h3>
					<button type="button" class="btn-close start" data-bs-dismiss="modal" aria-label="Close"
						data-th-aria-label="#{close.label}"></button>
				</div>
				<div class="modal-body start">
					<p data-th-text="#{reset.intro}">
						Are you sure you want to reset?
					</p>
					<div class="form-check">
						<input class="form-check-input" type="checkbox" name="applicationOnly" value="true" id="reset-application-only">
						<label class="form-check-label" for="reset-application-only" data-th-text="#{reset.applicationOnly.label}">App Only</label>
					</div>
				</div>
				<div class="modal-body success" style="display: none;">
					<div class="progress" role="progressbar">
						<div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 100%"></div>
					</div>
					<p class="my-3" data-th-text="#{reset.underway}">
						Resetting...
					</p>
				</div>
				<div class="modal-footer start">
					<a href="#" class="btn btn-secondary" data-bs-dismiss="modal" data-th-text="#{close.label}">Close</a>
					<button type="submit" class="btn btn-danger reboot" data-th-text="#{reset.action.reset}">Reset</button>
				</div>
				<input type="hidden" name="reboot" value="false"/>
			</div>
		</div>
	</form>
</body>
</html>