<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:osgix="http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="
		http://www.osgi.org/xmlns/blueprint/v1.0.0
		http://www.osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd
		http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium
		http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium/gemini-blueprint-compendium.xsd
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
	
	<bean id="generalNodeDatumDao" class="net.solarnetwork.util.DynamicServiceTracker">
		<property name="bundleContext" ref="bundleContext"/>
		<property name="serviceClassName" value="net.solarnetwork.node.dao.DatumDao"/>
		<property name="serviceFilter" value="(datumClassName=net.solarnetwork.node.domain.GeneralNodeDatum)"/>
	</bean>

	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>net.solarnetwork.node.ocpp.mock.MockMeterDataSource</value>
			</list>
		</property>
	</bean>
	
	<bean id="jobMessageSource" class="net.solarnetwork.node.util.PrefixedMessageSource">
		<property name="prefix" value="multiDatumDataSource."/>
		<property name="delegate" ref="messageSource"/>
	</bean>	

	<bean id="settingsFactory" class="net.solarnetwork.node.settings.support.BasicSettingSpecifierProviderFactory">
		<property name="displayName" value="OCPP Mock Power Meter"/>
		<property name="factoryUID" value="net.solarnetwork.node.ocpp.mock.meter"/>
		<property name="messageSource" ref="messageSource"/>
	</bean>

	<bean id="eventAdmin" class="net.solarnetwork.util.DynamicServiceTracker">
		<property name="bundleContext" ref="bundleContext"/>
		<property name="serviceClassName" value="org.osgi.service.event.EventAdmin"/>
	</bean>
	
	<!-- Published Services -->
	
	<service ref="settingsFactory" interface="net.solarnetwork.node.settings.SettingSpecifierProviderFactory"/>
	
	<osgix:managed-service-factory factory-pid="net.solarnetwork.node.ocpp.mock.meter" autowire-on-update="true">
		<osgix:interfaces>
			<beans:value>net.solarnetwork.node.job.ManagedTriggerAndJobDetail</beans:value>
			<beans:value>net.solarnetwork.node.settings.SettingSpecifierProvider</beans:value>
			<beans:value>net.solarnetwork.node.job.ServiceProvider</beans:value>
		</osgix:interfaces>
		<osgix:service-properties>
			<beans:entry key="settingPid" value="net.solarnetwork.node.ocpp.mock.meter"/>
		</osgix:service-properties>
		<bean class="net.solarnetwork.node.job.SimpleManagedTriggerAndJobDetail">
			<property name="trigger">
				<bean class="net.solarnetwork.node.job.RandomizedCronTriggerBean">
					<property name="name" value="mockMeterDatumLoggerTrigger"/>
					<property name="jobName" value="mockMeterDatumLoggerJob"/>
					<property name="cronExpression" value="5 * * * * ?"/>
					<property name="misfireInstructionName" value="MISFIRE_INSTRUCTION_DO_NOTHING"/>
					<property name="randomSecond" value="true"/>
				</bean>
			</property>
			<property name="jobDetail">
				<bean class="org.springframework.scheduling.quartz.JobDetailBean">
					<property name="name" value="mockMeterDatumLoggerJob"/>
					<property name="jobClass" value="net.solarnetwork.node.job.DatumDataSourceManagedLoggerJob"/>
					<property name="jobDataAsMap">
						<map>
							<entry key="datumDao" value-ref="generalNodeDatumDao"/>
							<entry key="multiDatumDataSource">
								<bean class="net.solarnetwork.node.ocpp.mock.MockMeterDataSource">
									<property name="eventAdmin" ref="eventAdmin"/>
									<property name="messageSource" ref="jobMessageSource"/>
								</bean>
							</entry>
						</map>
					</property>
				</bean>
			</property>
			<property name="serviceProviderConfigurations">
				<map>
					<entry key="multiDatumDataSource">
						<bean class="net.solarnetwork.node.job.SimpleServiceProviderConfiguration">
							<property name="interfaces">
								<list>
									<value>org.osgi.service.event.EventHandler</value>
								</list>
							</property>
							<property name="properties">
								<map>
									<entry key="#{T(org.osgi.service.event.EventConstants).EVENT_TOPIC}">
										<beans:array value-type="java.lang.String">
											<beans:value>#{T(net.solarnetwork.node.ocpp.ChargeSessionManager).EVENT_TOPIC_SOCKET_ACTIVATED}</beans:value>
											<beans:value>#{T(net.solarnetwork.node.ocpp.ChargeSessionManager).EVENT_TOPIC_SOCKET_DEACTIVATED}</beans:value>
										</beans:array>
									</entry>
								</map>
							</property>
						</bean>
					</entry>
				</map>
			</property>
		</bean>
	</osgix:managed-service-factory>
	
	<!-- RFID Watcher -->
	
	<bean id="rfidMessageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames" value="net.solarnetwork.node.ocpp.mock.MockIdTagScanner"/>
	</bean>
	
	<bean id="rfidSettingsFactory" class="net.solarnetwork.node.settings.support.BasicSettingSpecifierProviderFactory">
		<property name="displayName" value="OCPP Mock RFID Scanner"/>
		<property name="factoryUID" value="net.solarnetwork.node.ocpp.mock.rfid"/>
		<property name="messageSource" ref="rfidMessageSource"/>
	</bean>
	
	<service ref="rfidSettingsFactory" interface="net.solarnetwork.node.settings.SettingSpecifierProviderFactory"/>
	
	<osgix:managed-service-factory factory-pid="net.solarnetwork.node.ocpp.mock.rfid" autowire-on-update="true">
		<osgix:interfaces>
			<beans:value>net.solarnetwork.node.settings.SettingSpecifierProvider</beans:value>
		</osgix:interfaces>
		<osgix:service-properties>
			<beans:entry key="settingPid" value="net.solarnetwork.node.ocpp.mock.rfid"/>
		</osgix:service-properties>
		<bean class="net.solarnetwork.node.ocpp.mock.MockIdTagScanner">
			<property name="eventAdmin" ref="eventAdmin"/>
			<property name="messageSource" ref="rfidMessageSource"/>
			<property name="chargeSessionManager">
				<bean class="net.solarnetwork.util.DynamicServiceProxy">
					<property name="bundleContext" ref="bundleContext"/>
					<property name="serviceClass" value="net.solarnetwork.node.ocpp.ChargeSessionManager"/>
					<property name="propertyFilters">
						<map>
							<entry key="UID" value="OCPP Central System"/>
						</map>
					</property>
				</bean>
			</property>
		</bean>
	</osgix:managed-service-factory>

</blueprint>
