<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:osgix="http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="
		http://www.osgi.org/xmlns/blueprint/v1.0.0
		http://www.osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd
		http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium
		http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium/gemini-blueprint-compendium.xsd
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">

	<reference id="taskScheduler" interface="org.springframework.scheduling.TaskScheduler" filter="(function=node)"/>
	
	<reference id="userService" interface="net.solarnetwork.node.setup.UserService" filter="(app=node)"/>
	
	<reference id="userDetailsService" interface="org.springframework.security.core.userdetails.UserDetailsService" filter="(app=node)"/>
	
	<reference id="datumService" interface="net.solarnetwork.node.DatumService"/>
	
	<reference-list id="instructionHandlers" interface="net.solarnetwork.node.reactor.FeedbackInstructionHandler"
		filter="(instruction=SystemConfigure)"/>
	
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<array>
				<value>net.solarnetwork.node.setup.stomp.server.StompSetupServer</value>
				<value>net.solarnetwork.node.support.BaseIdentifiable</value>
			</array>
		</property>
	</bean>
	
	<service ref="stompServer" interface="net.solarnetwork.node.settings.SettingSpecifierProvider"/>

	<bean id="serverService" class="net.solarnetwork.node.setup.stomp.server.StompSetupServerService">
		<argument ref="userService"/>
		<argument ref="userDetailsService"/>
		<argument ref="instructionHandlers"/>
	</bean>

	<bean id="stompServer" class="net.solarnetwork.node.setup.stomp.server.StompSetupServer"
			init-method="startup" destroy-method="shutdown">
		<osgix:managed-properties persistent-id="net.solarnetwork.node.setup.stomp" 
				autowire-on-update="true" update-method="configurationChanged"/>
		<argument ref="serverService"/>
		<property name="messageSource" ref="messageSource"/>
		<property name="taskScheduler" ref="taskScheduler"/>
	</bean>
		
</blueprint>
