<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:osgi="http://www.eclipse.org/gemini/blueprint/schema/blueprint"
	xmlns:osgix="http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="
		http://www.osgi.org/xmlns/blueprint/v1.0.0
		http://www.osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd
		http://www.eclipse.org/gemini/blueprint/schema/blueprint
		http://www.eclipse.org/gemini/blueprint/schema/blueprint/gemini-blueprint.xsd
		http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium
		http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium/gemini-blueprint-compendium.xsd
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.1.xsd">

	<!-- Service references -->

	<reference-list id="balanceStrategies" availability="optional"
		interface="net.solarnetwork.node.control.demandbalancer.DemandBalanceStrategy"/>
		
	<reference-list id="instructionHandlers" availability="optional"
		interface="net.solarnetwork.node.reactor.InstructionHandler"/>

	<!-- Supporting Services -->
	
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames" value="net.solarnetwork.node.control.demandbalancer.DemandBalancer"/>
	</bean>
	
	<bean id="jobMessageSource" class="net.solarnetwork.node.util.PrefixedMessageSource">
		<property name="delegate" ref="messageSource"/>
		<property name="prefix" value="demandBalancer."/>
	</bean>
	
	<bean id="settingsFactory" 
		class="net.solarnetwork.node.settings.support.BasicSettingSpecifierProviderFactory">
		<property name="displayName" value="Demand Balancer"/>
		<property name="factoryUID" value="net.solarnetwork.node.control.demandbalancer"/>
		<property name="messageSource" ref="messageSource"/>
	</bean>

	<!-- Published Services -->
	
	<service ref="settingsFactory" 
		interface="net.solarnetwork.node.settings.SettingSpecifierProviderFactory"/>
	
	<osgix:managed-service-factory factory-pid="net.solarnetwork.node.control.demandbalancer" autowire-on-update="true">
		<osgix:interfaces>
			<beans:value>net.solarnetwork.node.job.ManagedTriggerAndJobDetail</beans:value>
			<beans:value>net.solarnetwork.node.settings.SettingSpecifierProvider</beans:value>
		</osgix:interfaces>
		<osgix:service-properties>
			<beans:entry key="settingPid" value="net.solarnetwork.node.control.demandbalancer"/>
		</osgix:service-properties>
		<bean class="net.solarnetwork.node.job.SimpleManagedTriggerAndJobDetail">
			<property name="trigger">
				<bean class="net.solarnetwork.node.job.RandomizedCronTriggerBean">
					<property name="name" value="demandBalancerTrigger"/>
					<property name="jobName" value="demandBalancerJob"/>
					<property name="cronExpression" value="0 * * * * ?"/>
					<property name="misfireInstructionName" value="MISFIRE_INSTRUCTION_DO_NOTHING"/>
					<property name="randomSecond" value="true"/>
				</bean>
			</property>
			<property name="jobDetail">
				<bean class="org.springframework.scheduling.quartz.JobDetailBean">
					<property name="name" value="demandBalancerJob"/>
					<property name="jobClass" value="net.solarnetwork.node.control.demandbalancer.DemandBalancerJob"/>
					<property name="jobDataAsMap">
						<map>
							<entry key="messageSource" value-ref="messageSource"/>
							<entry key="demandBalancer">
								<bean class="net.solarnetwork.node.control.demandbalancer.DemandBalancer">
									<property name="messageSource" ref="messageSource"/>
									<property name="instructionHandlers" ref="instructionHandlers"/>
									<property name="balanceStrategy">
										<bean class="net.solarnetwork.util.DynamicServiceTracker">
											<property name="bundleContext" ref="bundleContext"/>
											<property name="serviceClassName" 
												value="net.solarnetwork.node.control.demandbalancer.DemandBalanceStrategy"/>
											<property name="propertyFilters">
												<map>
													<entry key="UID" value="Default"/>
												</map>
											</property>
											<property name="fallbackService">
												<bean class="net.solarnetwork.node.control.demandbalancer.SimpleDemandBalanceStrategy"/>
											</property>
										</bean>	
									</property>
									<property name="consumptionDataSource">
										<bean class="net.solarnetwork.util.DynamicServiceTracker">
											<property name="bundleContext" ref="bundleContext"/>
											<property name="serviceClassName" value="net.solarnetwork.node.DatumDataSource"/>
											<property name="serviceFilter" value="(datumClassName=net.solarnetwork.node.consumption.ConsumptionDatum)"/>
											<property name="propertyFilters">
												<map>
													<entry key="UID" value="Main"/>
												</map>
											</property>
										</bean>	
									</property>
									<property name="powerDataSource">
										<bean class="net.solarnetwork.util.DynamicServiceTracker">
											<property name="bundleContext" ref="bundleContext"/>
											<property name="serviceClassName" value="net.solarnetwork.node.DatumDataSource"/>
											<property name="serviceFilter" value="(datumClassName=net.solarnetwork.node.power.PowerDatum)"/>
											<property name="propertyFilters">
												<map>
													<entry key="UID" value="Main"/>
												</map>
											</property>
										</bean>	
									</property>
									<property name="powerControl">
										<bean class="net.solarnetwork.util.DynamicServiceTracker">
											<property name="bundleContext" ref="bundleContext"/>
											<property name="serviceClassName" value="net.solarnetwork.node.NodeControlProvider"/>
										</bean>	
									</property>
								</bean>
							</entry>
						</map>
					</property>
				</bean>
			</property>
			<property name="settingSpecifierProvider">
				<bean class="net.solarnetwork.node.control.demandbalancer.DemandBalancerJob">
					<property name="demandBalancer">
						<bean class="net.solarnetwork.node.control.demandbalancer.DemandBalancer">
							<property name="messageSource" ref="jobMessageSource"/>
						</bean>
					</property>
				</bean>
			</property>
		</bean>
	</osgix:managed-service-factory>

</blueprint>
