<!DOCTYPE html>
<html data-th-replace="~{layout :: layout(~{::title}, ~{::body}, ~{footer-top :: content}, 'user')}">
<head>
    <title data-th-text="#{app.title(#{user.changePassword.title})}">SolarNode Change Password</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../../css/bootstrap.css">
	<link rel="stylesheet" href="../../../css/solarnode.css">
	<link rel="stylesheet" href="../../../css/fonts.css">
	<link rel="stylesheet" href="../../../css/bootstrap-icons.css">
</head>
<body data-th-remove="tag">

<div class="row justify-content-center">
	<div class="col-md-6">		
		<div class="hidden alert alert-success" id="change-password-success" data-th-utext="#{user.changePassword.success}">
			Password changed.
		</div>
		
		<section class="intro">
			<p data-th-utext="#{user.changePassword.intro}">Change password here.</p>
		</section>
		
		<form id="change-password-form" data-th-action="@{/a/user/change-password}" method="post" data-th-object="${user}">
			<fieldset class="row gy-3">
				<div class="col-12">
					<label class="form-label" for="old-password" data-th-text="#{user.oldPassword.label}">Old Password</label>
					<input class="form-control" type="password" name="oldPassword" data-th-value="${oldPassword}" id="old-password" maxlength="255" required>
				</div>
				<div class="col-12">
					<label class="form-label" for="login-password" data-th-text="#{user.newPassword.label}">New Password</label>
					<input class="form-control" type="password" name="password" id="login-password" maxlength="255" required>
				</div>
				<div class="col-12">
					<label class="form-label" for="login-password-again" data-th-text="#{user.newPasswordAgain.label}">Password Again</label>
					<input class="form-control" type="password" name="passwordAgain" id="login-password-again" maxlength="255" required>
				</div>
				<div class="col-12">
					<button type="submit" class="btn btn-primary" data-th-text="#{user.action.changePassword}">Change</button>
				</div>
			</fieldset>
		</form>
	</div>
</div>

</body>
</html>
