<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:osgi="http://www.eclipse.org/gemini/blueprint/schema/blueprint"
	xmlns:osgix="http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="
		http://www.osgi.org/xmlns/blueprint/v1.0.0
		http://www.osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd
		http://www.eclipse.org/gemini/blueprint/schema/blueprint
		http://www.eclipse.org/gemini/blueprint/schema/blueprint/gemini-blueprint.xsd
		http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium
		http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium/gemini-blueprint-compendium.xsd
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.2.xsd">

	<!-- Service references -->

	<reference-list id="instructionHandlerList" availability="optional"
		interface="net.solarnetwork.node.reactor.InstructionHandler"/>

	<reference id="sslServiceRef" availability="optional"
		interface="net.solarnetwork.node.SSLService">
		<reference-listener ref="sslService" bind-method="onBind" unbind-method="onUnbind"/>
	</reference>
	
	<!-- Supporting Services -->
	
	<bean id="sslService" class="net.solarnetwork.util.OptionalServiceTracker">
		<property name="service" ref="sslServiceRef"/>
	</bean>
	
	<bean id="settingsFactory" 
		class="net.solarnetwork.node.settings.support.BasicSettingSpecifierProviderFactory">
		<property name="displayName" value="HTTP Ping"/>
		<property name="factoryUID" value="net.solarnetwork.node.control.ping.http"/>
		<property name="messageSource">
			<bean class="org.springframework.context.support.ResourceBundleMessageSource">
				<property name="basenames" value="net.solarnetwork.node.control.ping.HttpRequesterJob"/>
			</bean>
		</property>
	</bean>

	<!-- Published Services -->
	
	<service ref="settingsFactory" 
		interface="net.solarnetwork.node.settings.SettingSpecifierProviderFactory"/>
	
	<osgix:managed-service-factory factory-pid="net.solarnetwork.node.control.ping.http" autowire-on-update="true">
		<osgix:interfaces>
			<beans:value>net.solarnetwork.node.job.ManagedTriggerAndJobDetail</beans:value>
			<beans:value>net.solarnetwork.node.settings.SettingSpecifierProvider</beans:value>
		</osgix:interfaces>
		<osgix:service-properties>
			<beans:entry key="settingPid" value="net.solarnetwork.node.control.ping.http"/>
		</osgix:service-properties>
		<bean id="httpPing" class="net.solarnetwork.node.job.SimpleManagedTriggerAndJobDetail">
			<property name="trigger">
				<bean class="net.solarnetwork.node.job.RandomizedCronTriggerFactoryBean">
					<property name="name" value="pingTrigger"/>
					<property name="cronExpression" value="0 0/5 * * * ?"/>
					<property name="misfireInstructionName" value="MISFIRE_INSTRUCTION_DO_NOTHING"/>
					<property name="randomSecond" value="true"/>
				</bean>
			</property>
			<property name="jobDetail">
				<bean class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
					<property name="name" value="pingJob"/>
					<property name="jobClass" value="net.solarnetwork.node.control.ping.HttpRequesterJob"/>
					<property name="jobDataAsMap">
						<map>
							<entry key="handlers" value-ref="instructionHandlerList"/>
							<entry key="sslService" value-ref="sslService"/>
						</map>
					</property>
				</bean>
			</property>
			<property name="settingSpecifierProvider">
				<bean class="net.solarnetwork.node.control.ping.HttpRequesterJob"/>
			</property>
		</bean>
	</osgix:managed-service-factory>

</blueprint>
