@font-face {
    font-family: 'Assistant';
    src: url('../font/Assistant-ExtraLight.ttf');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Assistant';
    src: url('../font/Assistant-Light.ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Assistant';
    src: url('../font/Assistant-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Assistant';
    src: url('../font/Assistant-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Assistant';
    src: url('../font/Assistant-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Assistant';
    src: url('../font/Assistant-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
}

body {
	margin: 0;
	padding: 0;
	background-color: #ccc;
	font-family: Assistant, sans-serif;
}

div.hbox {
	display: -webkit-flex;
	-webkit-flex-direction: row;
	display: -moz-flex;
	-moz-flex-direction: row;
	display: flex;
	flex-direction: row;
}

div.vbox {
	display: -webkit-flex;
	-webkit-flex-direction: column;
	display: -moz-flex;
	-moz-flex-orient: column;
	display: flex;
	flex-direction: column;
}

#ocpp-state {
	width: 640px;
	height: 480px;
}

#pv-status {
	position: absolute;
	left: 200px;
	top: 120px;
}

#grid-status {
	position: absolute;
	left: 346px;
	top: 267px;
}

.status {
	width: 94px;
	height: 94px;
	color: white;
}

.status .heading {
	position: absolute;
	top: 20px;
	left: 0px;
	right: 0px;
	height: 40px;
	line-height: 40px;
	font-size: 40px;
	font-weight: 600;
	text-align: center;
	text-rendering: optimizeLegibility;
	margin: 0;
	padding: 0;
}

.status .unit {
	position: absolute;
	top: 57px;
	left: 0px;
	right: 0px;
	height: 16px;
	line-height: 16px;
	font-size: 18px;
	font-weight: normal;
	text-align: center;
	margin: 0;
	padding: 0;
}

#socket-status-a {
	position: absolute;
	left: 357px;
	top: 99px;
}

#socket-status-b {
	position: absolute;
	left: 104px;
	top: 276px;
}

#socket-status-b > .heading,
#socket-status-b > .unit {
	left: 76px;
}

#socket-status-b > .session {
	left: 10px;
}

.socket-status {
	width: 180px;
	height: 104px;
	color: white;
}

.socket-status > .heading {
	position: absolute;
	top: 26px;
	left: 0px;
	width: 104px;
	height: 38px;
	line-height: 38px;
	font-size: 48px;
	font-weight: 600;
	text-align: center;
	margin: 0;
	padding: 0;
}

.socket-status > .unit {
	position: absolute;
	top: 64px;
	left: 0px;
	width: 104px;
	height: 22px;
	line-height: 22px;
	font-size: 20px;
	font-weight: normal;
	text-align: center;
	margin: 0;
	padding: 0;
}

.socket-status .session {
	position: absolute;
	top: 0px;
	left: 114px;
	width: 66px;
	height: 104px;
	font-size: 24px;
	line-height: 20px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	-webkit-justify-content: flex-end;
	-moz-justify-content: flex-end;
	justify-content: flex-end;
}

.session .value {
	display: inline-block;
	text-align: right;
	font-weight: 600;
	width: 32px;
}

.session .unit {
	display: inline-block;
	margin-left: 4px;
	width: 30px;
	text-align: left;
	font-size: 16px;
}

