<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:osgix="http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="
		http://www.osgi.org/xmlns/blueprint/v1.0.0
		http://www.osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd
		http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium
		http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium/gemini-blueprint-compendium.xsd
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">

	<reference id="taskScheduler" interface="org.springframework.scheduling.TaskScheduler" filter="(function=node)"/>
	
	<reference id="taskExecutor" interface="org.springframework.core.task.TaskExecutor" filter="(function=node)"/>
	
	<reference id="settingsService" interface="net.solarnetwork.node.settings.SettingsService"/>

	<bean id="eventAdmin" class="net.solarnetwork.common.osgi.service.DynamicServiceTracker">
		<argument ref="bundleContext"/>
		<property name="serviceClassName" value="org.osgi.service.event.EventAdmin"/>
		<property name="sticky" value="true"/>
	</bean>

	<bean id="identityService" class="net.solarnetwork.common.osgi.service.DynamicServiceTracker">
		<argument ref="bundleContext"/>
		<property name="serviceClassName" value="net.solarnetwork.node.service.IdentityService"/>
		<property name="sticky" value="true"/>
	</bean>	

	<bean id="registerDao" class="net.solarnetwork.common.osgi.service.DynamicServiceTracker">
		<argument ref="bundleContext"/>
		<property name="serviceClassName" value="net.solarnetwork.node.io.modbus.server.dao.ModbusRegisterDao"/>
		<property name="sticky" value="true"/>
	</bean>	
	
	<bean id="opModesService" class="net.solarnetwork.common.osgi.service.DynamicServiceTracker">
		<argument ref="bundleContext"/>
		<property name="serviceClassName" value="net.solarnetwork.node.service.OperationalModesService"/>
		<property name="sticky" value="true"/>
	</bean>
	
	<bean id="txManager" class="net.solarnetwork.common.osgi.service.DynamicServiceTracker">
		<argument ref="bundleContext"/>
		<property name="serviceClassName" value="org.springframework.transaction.PlatformTransactionManager"/>
		<property name="serviceFilter" value="(db=node)"/>
		<property name="sticky" value="true"/>
	</bean>
	
	<bean id="baseMessageSource" class="net.solarnetwork.support.PrefixedMessageSource">
		<property name="prefix" value="unitConfigsItem."/>
		<property name="delegate">
			<bean class="org.springframework.context.support.ResourceBundleMessageSource">
				<property name="basenames" value="net.solarnetwork.node.io.modbus.server.domain.UnitConfig"/>
				<property name="parentMessageSource">
					<bean class="net.solarnetwork.support.PrefixedMessageSource">
						<property name="prefix" value="registerBlockConfigsItem."/>
						<property name="delegate">
							<bean class="org.springframework.context.support.ResourceBundleMessageSource">
								<property name="basenames" value="net.solarnetwork.node.io.modbus.server.domain.RegisterBlockConfig"/>
								<property name="parentMessageSource">
									<bean class="net.solarnetwork.support.PrefixedMessageSource">
										<property name="prefix" value="measurementConfigsItem."/>
										<property name="delegate">
											<bean class="org.springframework.context.support.ResourceBundleMessageSource">
												<property name="basenames" value="net.solarnetwork.node.io.modbus.server.domain.MeasurementConfig"/>
											</bean>
										</property>
									</bean>
								</property>
							</bean>
						</property>
					</bean>
				</property>
			</bean>
		</property>
	</bean>
	
	<!-- 
		TCP Server	
	 -->

	<bean id="tcpMessageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<array>
				<value>net.solarnetwork.node.io.modbus.server.tcp.ModbusServer</value>
				<value>net.solarnetwork.node.io.modbus.server.impl.BaseModbusServer</value>
				<value>net.solarnetwork.service.support.BasicIdentifiable</value>
			</array>
		</property>
		<property name="parentMessageSource" ref="baseMessageSource"/>
	</bean>
	
	<service>
		<interfaces>
			<value>net.solarnetwork.settings.SettingSpecifierProvider</value>
			<value>net.solarnetwork.node.settings.SettingResourceHandler</value>
		</interfaces>
		<bean class="net.solarnetwork.node.io.modbus.server.tcp.ModbusServerCsvConfigurer">
			<argument ref="settingsService"/>
			<argument ref="identityService"/>
			<property name="messageSource">
				<bean class="org.springframework.context.support.ResourceBundleMessageSource">
					<property name="basenames">
						<list>
							<value>net.solarnetwork.node.io.modbus.server.tcp.ModbusServerCsvConfigurer</value>
							<value>net.solarnetwork.node.io.modbus.server.impl.BaseModbusServerCsvConfigurer</value>
							<value>net.solarnetwork.service.support.BasicIdentifiable</value>
						</list>
					</property>
				</bean>
			</property>
		</bean>
	</service>

	<service interface="net.solarnetwork.settings.SettingSpecifierProviderFactory">
		<bean class="net.solarnetwork.settings.support.BasicSettingSpecifierProviderFactory">
			<property name="displayName" value="Modbus Server (TCP)"/>
			<property name="factoryUid" value="net.solarnetwork.node.io.modbus.server"/>
			<property name="messageSource" ref="tcpMessageSource"/>
		</bean>
	</service>
	
	<osgix:managed-service-factory factory-pid="net.solarnetwork.node.io.modbus.server" autowire-on-update="true" update-method="configurationChanged">
		<osgix:interfaces>
			<beans:value>net.solarnetwork.node.reactor.InstructionHandler</beans:value>
			<beans:value>net.solarnetwork.node.service.NodeControlProvider</beans:value>
			<beans:value>net.solarnetwork.settings.SettingSpecifierProvider</beans:value>
			<beans:value>org.osgi.service.event.EventHandler</beans:value>
		</osgix:interfaces>
		<osgix:service-properties>
			<beans:entry key="settingPid" value="net.solarnetwork.node.io.modbus.server"/>
			<beans:entry key="#{T(org.osgi.service.event.EventConstants).EVENT_TOPIC}">
				<beans:array value-type="java.lang.String">
					<beans:value>#{T(net.solarnetwork.node.service.DatumQueue).EVENT_TOPIC_DATUM_ACQUIRED}</beans:value>
					<beans:value>#{T(net.solarnetwork.node.service.NodeControlProvider).EVENT_TOPIC_CONTROL_INFO_CAPTURED}</beans:value>
					<beans:value>#{T(net.solarnetwork.node.service.NodeControlProvider).EVENT_TOPIC_CONTROL_INFO_CHANGED}</beans:value>
				</beans:array>
			</beans:entry>
			<beans:entry key="instruction">
				<beans:list>
					<beans:value>SetControlParameter</beans:value>
				</beans:list>
			</beans:entry>
		</osgix:service-properties>
		<bean class="net.solarnetwork.node.io.modbus.server.tcp.ModbusServer" init-method="serviceDidStartup" destroy-method="serviceDidShutdown">
			<argument ref="taskExecutor"/>
			<property name="messageSource" ref="tcpMessageSource"/>
			<property name="eventAdmin" ref="eventAdmin"/>
			<property name="taskScheduler" ref="taskScheduler"/>
			<property name="registerDao" ref="registerDao"/>
			<property name="opModesService" ref="opModesService"/>
		</bean>
	</osgix:managed-service-factory>
	

	<!-- 
		RTU Server	
	 -->

	<bean id="rtuMessageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<array>
				<value>net.solarnetwork.node.io.modbus.server.rtu.ModbusServer</value>
				<value>net.solarnetwork.node.io.modbus.server.impl.BaseModbusServer</value>
				<value>net.solarnetwork.service.support.BasicIdentifiable</value>
			</array>
		</property>
		<property name="parentMessageSource" ref="baseMessageSource"/>
	</bean>
	
	<service>
		<interfaces>
			<value>net.solarnetwork.settings.SettingSpecifierProvider</value>
			<value>net.solarnetwork.node.settings.SettingResourceHandler</value>
		</interfaces>
		<bean class="net.solarnetwork.node.io.modbus.server.rtu.ModbusServerCsvConfigurer">
			<argument ref="settingsService"/>
			<argument ref="identityService"/>
			<property name="messageSource">
				<bean class="org.springframework.context.support.ResourceBundleMessageSource">
					<property name="basenames">
						<list>
							<value>net.solarnetwork.node.io.modbus.server.rtu.ModbusServerCsvConfigurer</value>
							<value>net.solarnetwork.node.io.modbus.server.impl.BaseModbusServerCsvConfigurer</value>
							<value>net.solarnetwork.service.support.BasicIdentifiable</value>
						</list>
					</property>
				</bean>
			</property>
		</bean>
	</service>

	<service interface="net.solarnetwork.settings.SettingSpecifierProviderFactory">
		<bean class="net.solarnetwork.settings.support.BasicSettingSpecifierProviderFactory">
			<property name="displayName" value="Modbus Server (RTU)"/>
			<property name="factoryUid" value="net.solarnetwork.node.io.modbus.server.rtu"/>
			<property name="messageSource" ref="rtuMessageSource"/>
		</bean>
	</service>
	
	<osgix:managed-service-factory factory-pid="net.solarnetwork.node.io.modbus.server.rtu" autowire-on-update="true" update-method="configurationChanged">
		<osgix:interfaces>
			<beans:value>net.solarnetwork.node.reactor.InstructionHandler</beans:value>
			<beans:value>net.solarnetwork.node.service.NodeControlProvider</beans:value>
			<beans:value>net.solarnetwork.settings.SettingSpecifierProvider</beans:value>
			<beans:value>org.osgi.service.event.EventHandler</beans:value>
		</osgix:interfaces>
		<osgix:service-properties>
			<beans:entry key="settingPid" value="net.solarnetwork.node.io.modbus.server.rtu"/>
			<beans:entry key="#{T(org.osgi.service.event.EventConstants).EVENT_TOPIC}">
				<beans:array value-type="java.lang.String">
					<beans:value>#{T(net.solarnetwork.node.service.DatumQueue).EVENT_TOPIC_DATUM_ACQUIRED}</beans:value>
					<beans:value>#{T(net.solarnetwork.node.service.NodeControlProvider).EVENT_TOPIC_CONTROL_INFO_CAPTURED}</beans:value>
					<beans:value>#{T(net.solarnetwork.node.service.NodeControlProvider).EVENT_TOPIC_CONTROL_INFO_CHANGED}</beans:value>
				</beans:array>
			</beans:entry>
			<beans:entry key="instruction">
				<beans:list>
					<beans:value>SetControlParameter</beans:value>
				</beans:list>
			</beans:entry>
		</osgix:service-properties>
		<bean class="net.solarnetwork.node.io.modbus.server.rtu.ModbusServer" init-method="serviceDidStartup" destroy-method="serviceDidShutdown">
			<argument ref="taskExecutor"/>
			<argument>
				<bean class="net.solarnetwork.common.osgi.service.DynamicServiceTracker">
					<argument ref="bundleContext"/>
					<property name="serviceClassName" value="net.solarnetwork.node.io.modbus.nifty.rtu.SerialConnectionProvider"/>
					<property name="ignoreEmptyPropertyFilterValues" value="false"/>
					<property name="propertyFilters">
						<map>
							<entry key="uid" value=""/>
						</map>
					</property>
				</bean>
			</argument>
			<property name="messageSource" ref="rtuMessageSource"/>
			<property name="eventAdmin" ref="eventAdmin"/>
			<property name="taskScheduler" ref="taskScheduler"/>
			<property name="registerDao" ref="registerDao"/>
			<property name="opModesService" ref="opModesService"/>
		</bean>
	</osgix:managed-service-factory>
	

	<!-- 
		Persistence Backup
	 -->
	
	<bean id="csvBackupService" class="net.solarnetwork.node.io.modbus.server.impl.ModbusRegisterDaoCsvBackupService">
			<argument ref="registerDao"/>
		<property name="transactionManager" ref="txManager"/>
		<property name="messageSource">
			<bean class="org.springframework.context.support.ResourceBundleMessageSource">
				<property name="basenames">
					<list>
						<value>net.solarnetwork.node.io.modbus.server.impl.ModbusRegisterDaoCsvBackupService</value>
					</list>
				</property>
			</bean>
		</property>
	</bean>
	
	<service ref="csvBackupService">
		<interfaces>
			<value>net.solarnetwork.node.service.CsvConfigurableBackupService</value>
			<value>net.solarnetwork.settings.SettingSpecifierProvider</value>
		</interfaces>
	</service>

	<service interface="net.solarnetwork.node.job.ManagedJob">
		<service-properties>
			<entry key="service.pid" value="net.solarnetwork.node.io.modbus.server.ModbusRegisterBackupJob"/>
		</service-properties>
		<bean class="net.solarnetwork.node.job.SimpleManagedJob">
			<osgix:managed-properties persistent-id="net.solarnetwork.node.io.modbus.server.ModbusRegisterBackupJob" autowire-on-update="true"/>
			<argument>
				<bean class="net.solarnetwork.node.job.CsvConfigurableBackupServiceJob">
					<argument ref="csvBackupService"/>
					<argument value="net.solarnetwork.node.io.modbus.server.ModbusRegisterBackupJob"/>
					<property name="messageSource">
						<bean class="org.springframework.context.support.ResourceBundleMessageSource">
							<property name="basenames" value="net.solarnetwork.node.io.modbus.server.impl.ModbusRegisterDaoCsvBackupServiceJob"/>
						</bean>
					</property>
				</bean>
			</argument>
			<argument value="0 0/15 * * * ?"/>
		</bean>
	</service>

</blueprint>
