<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:ctx="http://www.springframework.org/schema/context"
	xmlns:osgix="http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="
		http://www.osgi.org/xmlns/blueprint/v1.0.0
		http://www.osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd
		http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium
		http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium/gemini-blueprint-compendium.xsd
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.2.xsd">
	
	<reference id="taskScheduler" interface="org.springframework.scheduling.TaskScheduler" filter="(function=node)"/>
	
	<bean id="eventAdmin" class="net.solarnetwork.util.DynamicServiceTracker">
		<property name="bundleContext" ref="bundleContext"/>
		<property name="serviceClassName" value="org.osgi.service.event.EventAdmin"/>
	</bean>
	
	<bean id="objectMapper" class="net.solarnetwork.util.ObjectMapperFactoryBean">
		<property name="deserializers">
			<list>
				<bean class="net.solarnetwork.node.io.gpsd.util.GpsdMessageDeserializer"/>
			</list>
		</property>
	</bean>
	
	<bean id="gpsdClientMessageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<array>
				<value>net.solarnetwork.node.io.gpsd.service.impl.GpsdClientService</value>
				<value>net.solarnetwork.node.support.BaseIdentifiable</value>
			</array>
		</property>
	</bean>
	
	<service interface="net.solarnetwork.node.settings.SettingSpecifierProviderFactory">
		<bean class="net.solarnetwork.node.settings.support.BasicSettingSpecifierProviderFactory">
			<property name="displayName" value="GPSd connection"/>
			<property name="factoryUID" value="net.solarnetwork.node.io.gpsd.client"/>
			<property name="messageSource" ref="gpsdClientMessageSource"/>
		</bean>
	</service>
	
	<osgix:managed-service-factory factory-pid="net.solarnetwork.node.io.gpsd.client" autowire-on-update="true" update-method="configurationChanged">
		<osgix:interfaces>
			<beans:value>net.solarnetwork.node.io.gpsd.service.GpsdClientConnection</beans:value>
			<beans:value>net.solarnetwork.node.settings.SettingSpecifierProvider</beans:value>
		</osgix:interfaces>
		<osgix:service-properties>
			<beans:entry key="settingPid" value="net.solarnetwork.node.io.gpsd.client"/>
		</osgix:service-properties>
		<bean class="net.solarnetwork.node.io.gpsd.service.impl.GpsdClientService" init-method="startupLater" destroy-method="shutdown">
			<argument ref="objectMapper"/>
			<argument ref="taskScheduler"/>
			<property name="messageSource" ref="gpsdClientMessageSource"/>
			<property name="eventAdmin" ref="eventAdmin"/>
		</bean>
	</osgix:managed-service-factory>
		
</blueprint>
