# Map a specific RFID scanner to /dev/rfid
SUBSYSTEM=="input", ATTRS{idVendor}=="04d9", ATTRS{idProduct}=="1503", SYMLINK+="rfid", TAG+="systemd", ENV{SYSTEMD_WANTS}="rfid-server.service"
