# rfid-server systemd instance service unit
#
# Designed so multiple RFID readers can be used, each server will
# run on a port starting on 9090 + the device number. For example
# if the device is /dev/rfid2 then port 9092 will be used.

[Unit]
Description=RFID server.

[Service]
Type=simple
User=rfid
Group=input
Wants=dev-%i.device
After=dev-%i.device
ExecStart=/usr/local/bin/rfid-server /dev/%I
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
