<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:osgix="http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="
		http://www.osgi.org/xmlns/blueprint/v1.0.0
		http://www.osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd
		http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium
		http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium/gemini-blueprint-compendium.xsd
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">
	
	<bean id="authDao" class="net.solarnetwork.util.DynamicServiceTracker">
		<property name="bundleContext" ref="bundleContext"/>
		<property name="serviceClassName" value="net.solarnetwork.node.ocpp.AuthorizationDao"/>
	</bean>

	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>net.solarnetwork.node.ocpp.support.CentralSystemServiceFactorySupport</value>
				<value>net.solarnetwork.node.ocpp.auth.DefaultAuthorizationManager</value>
			</list>
		</property>
	</bean>
	
	<bean id="settingsFactory" class="net.solarnetwork.node.settings.support.BasicSettingSpecifierProviderFactory">
		<property name="displayName" value="OCPP Authorization Manager"/>
		<property name="factoryUID" value="net.solarnetwork.node.ocpp.auth"/>
		<property name="messageSource" ref="messageSource"/>
	</bean>

	<!-- Published Services -->
	
	<service ref="settingsFactory" interface="net.solarnetwork.node.settings.SettingSpecifierProviderFactory"/>
	
	<osgix:managed-service-factory factory-pid="net.solarnetwork.node.ocpp.auth" autowire-on-update="true">
		<osgix:interfaces>
			<beans:value>net.solarnetwork.node.ocpp.AuthorizationManager</beans:value>
			<beans:value>net.solarnetwork.node.settings.SettingSpecifierProvider</beans:value>
		</osgix:interfaces>
		<osgix:service-properties>
			<beans:entry key="settingPid" value="net.solarnetwork.node.ocpp.auth"/>
		</osgix:service-properties>
		<bean class="net.solarnetwork.node.ocpp.auth.DefaultAuthorizationManager">
			<property name="centralSystem">
				<bean class="net.solarnetwork.util.DynamicServiceProxy">
					<property name="bundleContext" ref="bundleContext"/>
					<property name="serviceClass" value="net.solarnetwork.node.ocpp.CentralSystemServiceFactory"/>
					<property name="propertyFilters">
						<map>
							<entry key="UID" value="OCPP Central System"/>
						</map>
					</property>
				</bean>
			</property>
			<property name="authorizationDao" ref="authDao"/>
			<property name="messageSource" ref="messageSource"/>
		</bean>
	</osgix:managed-service-factory>
	
</blueprint>
