<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:ctx="http://www.springframework.org/schema/context"
	xmlns:osgix="http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="
		http://www.osgi.org/xmlns/blueprint/v1.0.0
		http://www.osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd
		http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium
		http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium/gemini-blueprint-compendium.xsd
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.2.xsd">

	<!-- Service References -->
	
	<bean id="locationService" class="net.solarnetwork.common.osgi.service.DynamicServiceTracker">
		<argument ref="bundleContext"/>
		<property name="serviceClassName" value="net.solarnetwork.node.service.LocationService"/>
		<property name="sticky" value="true"/>
	</bean>	

	<bean id="datumQueue" class="net.solarnetwork.common.osgi.service.DynamicServiceTracker">
		<argument ref="bundleContext"/>
		<property name="serviceClassName" value="net.solarnetwork.node.service.DatumQueue"/>
		<property name="sticky" value="true"/>
	</bean>
	
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>net.solarnetwork.node.datum.price.delimited.DelimitedPriceDatumDataSource</value>
				<value>net.solarnetwork.node.service.support.BaseIdentifiable</value>
			</list>
		</property>
	</bean>

	<bean id="jobMessageSource" class="net.solarnetwork.support.PrefixedMessageSource">
		<property name="prefix" value="datumDataSource."/>
		<property name="delegate">
			<bean class="net.solarnetwork.support.PrefixedMessageSource">
				<property name="prefix" value="delegate."/>
				<property name="delegate">
					<bean class="org.springframework.context.support.ResourceBundleMessageSource">
						<property name="basenames" value="net.solarnetwork.node.support.PriceLocationDatumDataSource"/>
						<property name="parentMessageSource" ref="messageSource"/>
					</bean>
				</property>
			</bean>
		</property>
	</bean>	

	<!-- Published Services -->
	
	<service interface="net.solarnetwork.settings.SettingSpecifierProviderFactory">
		<bean class="net.solarnetwork.settings.support.BasicSettingSpecifierProviderFactory">
			<property name="displayName" value="Delimited energy price lookup"/>
			<property name="factoryUID" value="net.solarnetwork.node.datum.price.delimited"/>
			<property name="messageSource">
				<bean class="org.springframework.context.support.ResourceBundleMessageSource">
					<property name="basenames" value="net.solarnetwork.node.datum.price.delimited.DelimitedPriceDatumDataSource"/>
				</bean>
			</property>
		</bean>
	</service>	
	
	<osgix:managed-service-factory factory-pid="net.solarnetwork.node.datum.price.delimited" autowire-on-update="true">
		<osgix:interfaces>
			<beans:value>net.solarnetwork.node.job.ManagedTriggerAndJobDetail</beans:value>
			<beans:value>net.solarnetwork.settings.SettingSpecifierProvider</beans:value>
		</osgix:interfaces>
		<osgix:service-properties>
			<beans:entry key="settingPid" value="net.solarnetwork.node.datum.price.delimited"/>
		</osgix:service-properties>
		<bean class="net.solarnetwork.node.job.SimpleManagedTriggerAndJobDetail">
			<property name="trigger">
				<bean class="net.solarnetwork.node.job.RandomizedCronTriggerFactoryBean">
					<property name="name" value="delimitedPriceDatumPollTrigger"/>
					<property name="cronExpression" value="5 1/5 * * * ?"/>
					<property name="misfireInstructionName" value="MISFIRE_INSTRUCTION_DO_NOTHING"/>
					<property name="randomSecond" value="true"/>
				</bean>
			</property>
			<property name="jobDetail">
				<bean class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
					<property name="name" value="delimitedPriceDatumPollJob"/>
					<property name="jobClass" value="net.solarnetwork.node.job.DatumDataSourcePollJob"/>
					<property name="jobDataAsMap">
						<map>
							<entry key="datumQueue" value-ref="datumQueue"/>
							<entry key="datumDataSource">
								<bean class="net.solarnetwork.node.service.support.LocationDatumDataSource">
									<property name="messageSource" ref="jobMessageSource"/>
									<property name="delegate">
										<bean class="net.solarnetwork.node.datum.price.delimited.DelimitedPriceDatumDataSource">
											<property name="messageSource" ref="messageSource"/>
										</bean>
									</property>
									<property name="locationService" ref="locationService"/>
									<property name="requireLocationService" value="true"/>
									<property name="locationType" value="price"/>
								</bean>
							</entry>
						</map>
					</property>
				</bean>
			</property>
		</bean>
	</osgix:managed-service-factory>

</blueprint>
