<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:osgix="http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:ctx="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.osgi.org/xmlns/blueprint/v1.0.0
		http://www.osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd
		http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium
		http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium/gemini-blueprint-compendium.xsd
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-3.1.xsd">

	<!-- Configuration -->
	
	<osgix:cm-properties id="dao.jdbc.weather.cfg" persistent-id="net.solarnetwork.node.dao.jdbc.weather">
		<beans:prop key="JdbcWeatherDatumDao.initSqlResource">classpath:/net/solarnetwork/node/dao/jdbc/weather/derby-weatherdatum-init.sql</beans:prop>
		<beans:prop key="JdbcWeatherDatumDao.sqlResourcePrefix">derby-weatherdatum</beans:prop>
		<beans:prop key="JdbcDayDatumDao.initSqlResource">classpath:/net/solarnetwork/node/dao/jdbc/weather/derby-daydatum-init.sql</beans:prop>
		<beans:prop key="JdbcDayDatumDao.sqlResourcePrefix">derby-daydatum</beans:prop>
	</osgix:cm-properties>
	
	<!-- Service References -->
	
	<reference id="dataSource" interface="javax.sql.DataSource" filter="(db=node)"/>
	
	<reference id="txManager" interface="org.springframework.transaction.PlatformTransactionManager"
		filter="(db=node)"/>
	
	<!-- Published Services -->
	
	<service ref="jdbcWeatherDatumDao" ranking="1">
		<interfaces>
			<value>net.solarnetwork.node.dao.DatumDao</value>
			<value>net.solarnetwork.node.dao.jdbc.JdbcDao</value>
		</interfaces>
		<service-properties>
			<entry key="datumClassName" value="net.solarnetwork.node.weather.WeatherDatum"/>
		</service-properties>
	</service>
	
	<service ref="jdbcDayDatumDao" ranking="1">
		<interfaces>
			<value>net.solarnetwork.node.dao.DatumDao</value>
			<value>net.solarnetwork.node.dao.jdbc.JdbcDao</value>
		</interfaces>
		<service-properties>
			<entry key="datumClassName" value="net.solarnetwork.node.weather.DayDatum"/>
		</service-properties>
	</service>
	
	<ctx:property-placeholder properties-ref="dao.jdbc.weather.cfg"/>

	<bean id="jdbcWeatherDatumDao" class="net.solarnetwork.node.dao.jdbc.weather.JdbcWeatherDatumDao"
		init-method="init">
		<property name="dataSource" ref="dataSource"/>
		<property name="initSqlResource" value="${JdbcWeatherDatumDao.initSqlResource}"/>
		<property name="sqlResourcePrefix" value="${JdbcWeatherDatumDao.sqlResourcePrefix}"/>
	</bean>

	<bean id="jdbcDayDatumDao" class="net.solarnetwork.node.dao.jdbc.weather.JdbcDayDatumDao"
		init-method="init">
		<property name="dataSource" ref="dataSource"/>
		<property name="initSqlResource" value="${JdbcDayDatumDao.initSqlResource}"/>
		<property name="sqlResourcePrefix" value="${JdbcDayDatumDao.sqlResourcePrefix}"/>
	</bean>

	<!-- Use Java @Transactional annotations to declare transactions. -->
	<tx:annotation-driven transaction-manager="txManager"/>
	
</blueprint>
