<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:osgix="http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:ctx="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.osgi.org/xmlns/blueprint/v1.0.0
		http://www.osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd
		http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium
		http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium/gemini-blueprint-compendium.xsd
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.2.xsd">
	
	<reference id="settingDao" interface="net.solarnetwork.node.dao.SettingDao"/>
	
	<reference id="s3Client" interface="net.solarnetwork.common.s3.S3Client" filter="(function=backup)"/>
	
	<reference id="taskExecutor" interface="org.springframework.core.task.TaskExecutor" filter="(function=node)"/>
	
	<service ref="s3SetupManager" interface="net.solarnetwork.node.reactor.InstructionHandler"/>
	
	<bean id="platformPackageServices" class="net.solarnetwork.common.osgi.service.DynamicServiceTracker">
		<argument ref="bundleContext"/>
		<property name="serviceClassName" value="net.solarnetwork.node.service.PlatformPackageService"/>
		<property name="sticky" value="true"/>
	</bean>	
	
	<!-- Supporting Services -->
	
	<bean id="s3SetupManager" class="net.solarnetwork.node.setup.s3.S3SetupManager" init-method="init">
		<osgix:managed-properties 
			persistent-id="net.solarnetwork.node.setup.s3.S3SetupManager" 
			autowire-on-update="true"/>
		<property name="s3Client" ref="s3Client"/>
		<property name="settingDao" ref="settingDao"/>
		<property name="taskExecutor" ref="taskExecutor"/>
		<property name="packageServices" ref="platformPackageServices"/>
		<property name="messageSource">
			<bean class="org.springframework.context.support.ResourceBundleMessageSource">
				<property name="basename" value="net.solarnetwork.node.setup.s3.S3SetupManager"/>
			</bean>
		</property>
		<property name="nodeMetadataService">
			<bean class="net.solarnetwork.common.osgi.service.DynamicServiceTracker">
				<argument ref="bundleContext"/>
				<property name="serviceClassName" value="net.solarnetwork.node.service.NodeMetadataService"/>
				<property name="sticky" value="true"/>
			</bean>	
		</property>
		<property name="systemService">
			<bean class="net.solarnetwork.common.osgi.service.DynamicServiceTracker">
				<argument ref="bundleContext"/>
				<property name="serviceClassName" value="net.solarnetwork.node.service.SystemService"/>
				<property name="sticky" value="true"/>
			</bean>	
		</property>
		<property name="platformService">
			<bean class="net.solarnetwork.common.osgi.service.DynamicServiceTracker">
				<argument ref="bundleContext"/>
				<property name="serviceClassName" value="net.solarnetwork.node.service.PlatformService"/>
				<property name="sticky" value="true"/>
			</bean>	
		</property>
	</bean>

</blueprint>
