<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:ctx="http://www.springframework.org/schema/context"
	xmlns:osgix="http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.osgi.org/xmlns/blueprint/v1.0.0
		http://www.osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd
		http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium
		http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium/gemini-blueprint-compendium.xsd
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

	<!-- Service References -->
	
	<reference id="priceLocationServiceRef" availability="optional"
		interface="net.solarnetwork.node.PriceLocationService">
		<reference-listener ref="priceLocationService" bind-method="onBind" unbind-method="onUnbind"/>
	</reference>
	
	<bean id="priceLocationService" class="net.solarnetwork.util.OptionalServiceTracker">
		<property name="service" ref="priceLocationServiceRef"/>
	</bean>
	
	<!-- Published Services -->
	
	<service ref="mockPriceLocationDatumDataSource" 
		interface="net.solarnetwork.node.DatumDataSource" ranking="-1">
		<service-properties>
			<entry key="datumClassName" value="net.solarnetwork.node.price.PriceDatum"/>
		</service-properties>
	</service>
	
	<!-- Mock supporting services -->
	
	<bean id="mockPriceDatumDao" class="net.solarnetwork.node.price.mock.MockPriceDatumDao"/>
		
	<bean id="mockPriceDatumDataSource" class="net.solarnetwork.node.price.mock.MockPriceDatumDataSource"/>

	<bean id="mockPriceLocationDatumDataSource" class="net.solarnetwork.node.PriceLocationDatumDataSource"
		factory-method="getInstance">
		<argument ref="mockPriceDatumDataSource"/>
		<argument ref="priceLocationService"/>
		<property name="requirePriceLocationService" value="true"/>
	</bean>
	
</blueprint>
