<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:osgix="http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:ctx="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.osgi.org/xmlns/blueprint/v1.0.0
		http://www.osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd
		http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium
		http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium/gemini-blueprint-compendium.xsd
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.1.xsd">
	
	<!-- Configuration -->

	<osgix:cm-properties id="core.cfg" persistent-id="net.solarnetwork.node.core">
		<beans:prop key="scheduler.startupDelay">60</beans:prop>
		<beans:prop key="job.backup.cron">0 3 0 ? * SAT</beans:prop>
	</osgix:cm-properties>
	
	<!-- Service References -->

	<reference-list id="triggers" interface="net.solarnetwork.node.job.TriggerAndJobDetail" availability="optional">
		<reference-listener bind-method="onBind" unbind-method="onUnbind">
			<bean class="net.solarnetwork.node.runtime.JobServiceRegistrationListener">
				<property name="scheduler" ref="scheduler"/>
				<property name="bundleContext" ref="bundleContext"/>
			</bean>
		</reference-listener>
	</reference-list>

	<reference-list id="managedJobs" interface="net.solarnetwork.node.job.ManagedTriggerAndJobDetail" availability="optional">
		<reference-listener bind-method="onBind" unbind-method="onUnbind" ref="managedJobsListener"/>
	</reference-list>
	<bean id="managedJobsListener" class="net.solarnetwork.node.runtime.ManagedJobServiceRegistrationListener"
		destroy-method="finish">
		<property name="scheduler" ref="scheduler"/>
		<property name="bundleContext" ref="bundleContext"/>
	</bean>
	

	<reference-list id="serializers" availability="optional" filter="(!(delegating=true))"
		interface="net.solarnetwork.node.reactor.ReactorSerializationService"/>
	
	<reference-list id="backupServices" availability="optional"
		interface="net.solarnetwork.node.backup.BackupService"/>
	
	<reference-list id="backupResourceProviders" availability="optional"
		interface="net.solarnetwork.node.backup.BackupResourceProvider"/>
	
	<!-- Published Services -->

	<service ref="scheduler" interface="org.quartz.Scheduler">
		<service-properties>
			<entry key="function" value="node"/>
		</service-properties>
	</service>
	
	<service ref="delegatingReactorSerialization" ranking="5"
		interface="net.solarnetwork.node.reactor.ReactorSerializationService">
		<service-properties>
			<entry key="delegating" value="true"/>
		</service-properties>
	</service>
	
	<service ref="fsBackupService" interface="net.solarnetwork.node.backup.BackupService"/>
	
	<service ref="backupManager" interface="net.solarnetwork.node.backup.BackupManager"/>
	
	<service ref="backupJob" 
		interface="net.solarnetwork.node.job.TriggerAndJobDetail"/>
		
	<service interface="net.solarnetwork.node.backup.BackupResourceProvider">
		<bean class="net.solarnetwork.node.backup.FileBackupResourceProvider">
			<osgix:managed-properties 
				persistent-id="net.solarnetwork.node.backup.FileBackupResourceProvider" 
				autowire-on-update="true"/>
		</bean>
	</service>
	
	<!-- Supporting Services -->

	<ctx:property-placeholder properties-ref="core.cfg"/>

	<!-- Quartz scheduler for scheduling all jobs -->
	<bean id="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="applicationContextSchedulerContextKey" value="applicationContext"/>
		<property name="waitForJobsToCompleteOnShutdown" value="true"/>
		<property name="startupDelay" value="${scheduler.startupDelay}"/>
		<property name="schedulerName" value="Solar Node"/>
		<property name="quartzProperties">
			<props>
				<prop key="org.quartz.threadPool.threadCount">3</prop>
			</props>
		</property>
		<property name="jobFactory">
			<bean class="org.springframework.scheduling.quartz.SpringBeanJobFactory"/>
		</property>
	</bean>
	
	<bean id="delegatingReactorSerialization" 
		class="net.solarnetwork.node.reactor.support.DelegatingReactorSerialization">
		<property name="serializers" ref="serializers"/>
	</bean>
	
	<bean id="backupManager" class="net.solarnetwork.node.backup.DefaultBackupManager" init-method="init">
		<property name="backupServices" ref="backupServices"/>
		<property name="backupServiceTracker">
			<bean class="net.solarnetwork.util.DynamicServiceTracker">
				<property name="bundleContext" ref="bundleContext"/>
				<property name="serviceClassName" value="net.solarnetwork.node.backup.BackupService"/>
			</bean>	
		</property>
		<property name="resourceProviders" ref="backupResourceProviders"/>
	</bean>

	<bean id="fsBackupService" class="net.solarnetwork.node.backup.FileSystemBackupService">
		<osgix:managed-properties 
			persistent-id="net.solarnetwork.node.backup.FileSystemBackupService" 
			autowire-on-update="true"/>
		<property name="identityService">
			<bean class="net.solarnetwork.util.DynamicServiceTracker">
				<property name="bundleContext" ref="bundleContext"/>
				<property name="serviceClassName" value="net.solarnetwork.node.IdentityService"/>
			</bean>	
		</property>
	</bean>

	<!-- Jobs -->

	<bean id="jobMessageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames" value="net.solarnetwork.node.JOBS"/>
	</bean>

	<bean id="backupJob" class="net.solarnetwork.node.job.SimpleTriggerAndJobDetail">
		<property name="trigger">
			<bean class="org.springframework.scheduling.quartz.CronTriggerBean">
				<property name="name" value="backupTrigger"/>
				<property name="description" value="Backup node configuration data."/>
				<property name="cronExpression" value="${job.backup.cron}"/>
				<property name="misfireInstructionName" value="MISFIRE_INSTRUCTION_DO_NOTHING"/>
			</bean>
		</property>
		<property name="jobDetail">
			<bean class="org.springframework.scheduling.quartz.JobDetailBean">
				<property name="name" value="backupJob"/>
				<property name="jobClass" value="net.solarnetwork.node.job.BackupJob"/>
				<property name="jobDataAsMap">
					<map>
						<entry key="backupManager" value-ref="backupManager"/>
					</map>
				</property>
			</bean>
		</property>
		<property name="messageSource" ref="jobMessageSource"/>
	</bean>

</blueprint>
