<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:osgix="http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:ctx="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.osgi.org/xmlns/blueprint/v1.0.0
		http://www.osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd
		http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium
		http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium/gemini-blueprint-compendium.xsd
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.2.xsd">

	<!-- Configuration -->

	<osgix:cm-properties id="core.cfg" persistent-id="net.solarnetwork.node.core">
		<beans:prop key="scheduler.startupDelay">180</beans:prop>
		<beans:prop key="jobScheduler.poolSize">10</beans:prop>
		<beans:prop key="job.backup.cron">0 3 0 ? * SAT</beans:prop>
		<beans:prop key="placeholders.dir">conf/placeholders.d</beans:prop>
	</osgix:cm-properties>

	<ctx:property-placeholder properties-ref="core.cfg"/>

	<!-- Service References -->

	<bean id="eventAdmin" class="net.solarnetwork.common.osgi.service.DynamicServiceTracker">
		<argument ref="bundleContext"/>
		<property name="serviceClassName" value="org.osgi.service.event.EventAdmin"/>
		<property name="sticky" value="true"/>
	</bean>

	<bean id="settingDao" class="net.solarnetwork.common.osgi.service.DynamicServiceTracker">
		<argument ref="bundleContext"/>
		<property name="serviceClassName" value="net.solarnetwork.node.dao.SettingDao"/>
		<property name="sticky" value="true"/>
	</bean>

	<bean id="txManager" class="net.solarnetwork.common.osgi.service.DynamicServiceTracker">
		<argument ref="bundleContext"/>
		<property name="serviceClassName" value="org.springframework.transaction.PlatformTransactionManager"/>
		<property name="serviceFilter" value="(db=node)"/>
		<property name="sticky" value="true"/>
	</bean>

	<bean id="datumMetadataService" class="net.solarnetwork.common.osgi.service.DynamicServiceTracker">
		<argument ref="bundleContext"/>
		<property name="serviceClassName" value="net.solarnetwork.node.service.DatumMetadataService"/>
		<property name="sticky" value="true"/>
	</bean>

	<bean id="instructionExecutionService" class="net.solarnetwork.common.osgi.service.DynamicServiceTracker">
		<argument ref="bundleContext"/>
		<property name="serviceClassName" value="net.solarnetwork.node.reactor.InstructionExecutionService"/>
		<property name="sticky" value="true"/>
	</bean>

	<bean id="settingsService" class="net.solarnetwork.common.osgi.service.DynamicServiceTracker">
		<argument ref="bundleContext"/>
		<property name="serviceClassName" value="net.solarnetwork.node.settings.SettingsService"/>
		<property name="sticky" value="true"/>
	</bean>

	<bean id="nodeMetadataService" class="net.solarnetwork.common.osgi.service.DynamicServiceTracker">
		<argument ref="bundleContext"/>
		<property name="serviceClassName" value="net.solarnetwork.node.service.MetadataService"/>
		<property name="serviceFilter" value="(function=node)"/>
		<property name="sticky" value="true"/>
	</bean>

	<bean id="locationService" class="net.solarnetwork.common.osgi.service.DynamicServiceTracker">
		<argument ref="bundleContext"/>
		<property name="serviceClassName" value="net.solarnetwork.node.service.LocationService"/>
		<property name="sticky" value="true"/>
	</bean>

	<bean id="localStateDao" class="net.solarnetwork.common.osgi.service.DynamicServiceTracker">
		<argument ref="bundleContext"/>
		<property name="serviceClassName" value="net.solarnetwork.node.dao.LocalStateDao"/>
		<property name="sticky" value="true"/>
	</bean>

	<reference-list id="managedJobs" interface="net.solarnetwork.node.job.ManagedJob" availability="optional">
		<reference-listener bind-method="registerJob" unbind-method="unregisterJob" ref="managedJobsListener"/>
	</reference-list>
	<bean id="managedJobsListener" class="net.solarnetwork.node.runtime.ManagedJobScheduler"
			init-method="serviceDidStartup" destroy-method="serviceDidShutdown">
		<argument ref="bundleContext"/>
		<argument ref="taskScheduler"/>
		<property name="jobStartDelaySeconds" value="${scheduler.startupDelay}"/>
		<property name="messageSource">
			<bean class="org.springframework.context.support.ResourceBundleMessageSource">
				<property name="basename" value="net.solarnetwork.node.runtime.ManagedJobScheduler"/>
			</bean>
		</property>
	</bean>
	<service ref="managedJobsListener" interface="net.solarnetwork.service.PingTest"/>

	<reference-list id="backupServices" availability="optional"
		interface="net.solarnetwork.node.backup.BackupService"/>

	<reference-list id="backupResourceProviders" availability="optional"
		interface="net.solarnetwork.node.backup.BackupResourceProvider"/>

	<!--
		Track CloseableService instances so they can be released automatically;
		this is useful because the destroy-method Blueprint property is not
		available on nested bean elements (e.g. prototype beans). To work around
		that for services that would like to have a "destroy" hook, they can
		publish themselves as a net.solarnetwork.util.CloseableService.
	 -->
	<reference-list availability="optional" interface="net.solarnetwork.service.CloseableService">
		<reference-listener unbind-method="onReleased">
			<bean class="net.solarnetwork.service.CloseableServiceTracker"/>
		</reference-listener>
	</reference-list>

	<reference-list id="nodeControlProviders" availability="optional"
		interface="net.solarnetwork.node.service.NodeControlProvider"/>
		
	<reference-list id="platformPackageServices" availability="optional"
		interface="net.solarnetwork.node.service.PlatformPackageService"/>
		
	<!-- ServiceRegistry -->
	<service interface="net.solarnetwork.service.ServiceRegistry">
		<bean class="net.solarnetwork.common.osgi.service.OsgiServiceRegistry">
			<argument ref="bundleContext"/>
		</bean>
	</service>

	<!-- Provide a centralized ObjectMapper for JSON processing. -->
	<service interface="net.solarnetwork.service.ObjectMapperService">
		<service-properties>
			<entry key="function" value="node"/>
		</service-properties>
		<bean class="net.solarnetwork.service.support.SimpleObjectMapperService">
			<property name="objectMapper" ref="objectMapper"/>
		</bean>
	</service>
	<bean id="objectMapper" class="net.solarnetwork.codec.JsonUtils" factory-method="newDatumObjectMapper"/>

	<service ref="taskScheduler">
		<interfaces>
			<value>org.springframework.scheduling.TaskScheduler</value>
			<value>org.springframework.scheduling.SchedulingTaskExecutor</value>
		</interfaces>
		<service-properties>
			<entry key="function" value="node"/>
		</service-properties>
	</service>

	<service ref="taskExecutor">
		<interfaces>
			<value>org.springframework.core.task.AsyncListenableTaskExecutor</value>
			<value>org.springframework.core.task.AsyncTaskExecutor</value>
			<value>org.springframework.core.task.TaskExecutor</value>
			<value>java.util.concurrent.Executor</value>
		</interfaces>
		<service-properties>
			<entry key="function" value="node"/>
		</service-properties>
	</service>

	<service ref="fsBackupService" interface="net.solarnetwork.node.backup.BackupService"/>

	<service ref="backupManager">
		<interfaces>
			<value>net.solarnetwork.node.backup.BackupManager</value>
			<value>net.solarnetwork.settings.SettingSpecifierProvider</value>
		</interfaces>
	</service>

	<service interface="net.solarnetwork.node.backup.BackupResourceProvider">
		<bean class="net.solarnetwork.node.backup.FileBackupResourceProvider">
			<osgix:managed-properties
				persistent-id="net.solarnetwork.node.backup.FileBackupResourceProvider"
				autowire-on-update="true"/>
			<property name="messageSource">
				<bean class="org.springframework.context.support.ResourceBundleMessageSource">
					<property name="basename" value="net.solarnetwork.node.backup.FileBackupResourceProvider"/>
				</bean>
			</property>
			<property name="resourceDirectories">
				<array value-type="java.lang.String">
					<value>app/main</value>
				</array>
			</property>
			<property name="fileNamePattern" value="\.jar$"/>
			<property name="defaultShouldRestore" value="false"/>
		</bean>
	</service>

	<service interface="net.solarnetwork.node.setup.SetupResourceService">
		<bean class="net.solarnetwork.node.setup.SimpleSetupResourceService">
			<property name="setupResourceProviders">
				<reference-list availability="optional" interface="net.solarnetwork.node.setup.SetupResourceProvider"/>
			</property>
		</bean>
	</service>

	<reference-list id="globalDatumFilterServices" interface="net.solarnetwork.service.DatumFilterService"
		filter="(&amp;(role=global)(!(role=internal)))" availability="optional"/>

	<reference-list id="userDatumFilterServices" interface="net.solarnetwork.service.DatumFilterService"
		filter="(!(role=global))" availability="optional"/>

	<!--
		Global GeneralDatumSamplesTransformService that applies all available
		GeneralDatumSamplesTransformer services at runtime. This special DatumFilterService
		serves as a "applicable to all persisted datum" transform service.
	 -->
	<bean id="globalDatumFilterService" class="net.solarnetwork.node.service.support.DatumFilterChainService">
		<osgix:managed-properties persistent-id="net.solarnetwork.node.datum.xform.solarin" autowire-on-update="true"/>
		<argument value="net.solarnetwork.node.datum.xform.solarin"/>
		<argument ref="userDatumFilterServices"/>
		<argument value="false"/>
		<argument>
			<bean class="net.solarnetwork.node.service.support.DatumFilterChainService">
				<argument value="net.solarnetwork.node.datum.filter.chain.global"/>
				<argument ref="globalDatumFilterServices"/>
				<argument value="false"/>
				<property name="ignoreTransformUids" value="true"/>
			</bean>
		</argument>
		<property name="alternateDatumFilterServices" ref="globalDatumFilterServices"/>
		<property name="uid" value="SolarIn"/>
		<property name="messageSource">
			<bean class="org.springframework.context.support.ResourceBundleMessageSource">
				<property name="basenames">
					<list>
						<value>net.solarnetwork.node.service.support.SolarInDatumFilterChainService</value>
						<value>net.solarnetwork.node.service.support.BaseDatumFilterSupport</value>
					</list>
				</property>
			</bean>
		</property>
	</bean>
	<service ranking="10" ref="globalDatumFilterService">
		<interfaces>
			<value>net.solarnetwork.service.DatumFilterService</value>
			<value>net.solarnetwork.settings.SettingSpecifierProvider</value>
		</interfaces>
		<service-properties>
			<entry key="role">
				<array value-type="java.lang.String">
					<value>global</value>
					<value>datum-filter</value>
					<value>internal</value>
				</array>
			</entry>
		</service-properties>
	</service>

	<!-- User Datum Filter Chain factory -->
	<bean id="userDatumFilterChainMessageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>net.solarnetwork.node.service.support.UserDatumFilterChainService</value>
				<value>net.solarnetwork.node.service.support.BaseDatumFilterSupport</value>
				<value>net.solarnetwork.service.support.BasicIdentifiable</value>
			</list>
		</property>
	</bean>

	<service interface="net.solarnetwork.settings.SettingSpecifierProviderFactory">
		<service-properties>
			<entry key="role">
				<array value-type="java.lang.String">
					<value>user</value>
					<value>datum-filter</value>
				</array>
			</entry>
		</service-properties>
		<bean class="net.solarnetwork.settings.support.BasicSettingSpecifierProviderFactory">
			<property name="displayName" value="Datum Filter Chain"/>
			<property name="factoryUid" value="net.solarnetwork.node.datum.xform.user"/>
			<property name="messageSource" ref="userDatumFilterChainMessageSource"/>
		</bean>
	</service>

	<osgix:managed-service-factory factory-pid="net.solarnetwork.node.datum.xform.user" autowire-on-update="true">
		<osgix:interfaces>
			<beans:value>net.solarnetwork.service.DatumFilterService</beans:value>
			<beans:value>net.solarnetwork.settings.SettingSpecifierProvider</beans:value>
		</osgix:interfaces>
		<osgix:service-properties>
			<beans:entry key="settingPid" value="net.solarnetwork.node.datum.xform.user"/>
			<beans:entry key="role">
				<beans:array value-type="java.lang.String">
					<beans:value>user</beans:value>
					<beans:value>datum-filter</beans:value>
				</beans:array>
			</beans:entry>
		</osgix:service-properties>
		<bean class="net.solarnetwork.node.service.support.DatumFilterChainService">
			<argument value="net.solarnetwork.node.datum.xform.user"/>
			<argument ref="userDatumFilterServices"/>
			<property name="messageSource" ref="userDatumFilterChainMessageSource"/>
			<property name="opModesService" ref="opModesService"/>
		</bean>
	</osgix:managed-service-factory>

	<!-- Platform package service -->
	<service interface="net.solarnetwork.node.service.PlatformPackageService">
		<service-properties>
			<entry key="function" value="tar"/>
		</service-properties>
		<bean class="net.solarnetwork.node.service.support.NativeTarPlatformPackageService">
			<property name="taskExecutor">
				<bean class="net.solarnetwork.service.StaticOptionalService">
					<argument ref="taskExecutor"/>
				</bean>
			</property>
		</bean>
	</service>

	<!-- Task scheduler for simple repeating tasks -->
	<bean id="taskScheduler" class="org.springframework.scheduling.concurrent.ThreadPoolTaskScheduler">
		<property name="poolSize" value="${jobScheduler.poolSize}"/>
		<property name="threadNamePrefix" value="SolarNode-TaskScheduler-"/>
		<property name="removeOnCancelPolicy" value="true"/>
	</bean>

	<!-- Task executor for simple tasks -->
	<bean id="executorService" class="java.util.concurrent.Executors" factory-method="newFixedThreadPool" destroy-method="shutdown">
		<argument value="#{T(java.lang.Runtime).getRuntime().availableProcessors() + 1}"/>
		<argument>
			<bean class="org.springframework.scheduling.concurrent.CustomizableThreadFactory">
				<argument value="SolarNode-Core-"/>
			</bean>
		</argument>
	</bean>

	<bean id="taskExecutor" class="org.springframework.core.task.support.TaskExecutorAdapter">
		<argument ref="executorService"/>
	</bean>

	<bean id="backupManager" class="net.solarnetwork.node.backup.DefaultBackupManager" init-method="init">
		<osgix:managed-properties
			persistent-id="net.solarnetwork.node.backup.DefaultBackupManager"
			autowire-on-update="true"/>
		<property name="backupServices" ref="backupServices"/>
		<property name="resourceProviders" ref="backupResourceProviders"/>
	</bean>

	<bean id="fsBackupService" class="net.solarnetwork.node.backup.FileSystemBackupService">
		<osgix:managed-properties
			persistent-id="net.solarnetwork.node.backup.FileSystemBackupService"
			autowire-on-update="true"/>
		<property name="messageSource">
			<bean class="org.springframework.context.support.ResourceBundleMessageSource">
				<property name="basename" value="net.solarnetwork.node.backup.FileSystemBackupService"/>
			</bean>
		</property>
		<property name="identityService">
			<bean class="net.solarnetwork.common.osgi.service.DynamicServiceTracker">
				<argument ref="bundleContext"/>
				<property name="serviceClassName" value="net.solarnetwork.node.service.IdentityService"/>
			</bean>
		</property>
	</bean>

	<!-- Jobs -->

	<bean id="jobMessageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames" value="net.solarnetwork.node.job.JOBS"/>
	</bean>

	<service interface="net.solarnetwork.node.job.ManagedJob">
		<service-properties>
			<entry key="service.pid" value="net.solarnetwork.node.core"/>
		</service-properties>
		<bean class="net.solarnetwork.node.job.SimpleManagedJob">
			<argument>
				<bean class="net.solarnetwork.node.job.BackupJob">
					<argument ref="backupManager"/>
					<property name="uid" value="net.solarnetwork.node.job.BackupJob"/>
					<property name="messageSource" ref="jobMessageSource"/>
				</bean>
			</argument>
			<argument value="${job.backup.cron}"/>
			<property name="displayName" value="BackupJob"/>
			<property name="scheduleSettingKey" value="job.backup.cron"/>
		</bean>
	</service>

	<!-- Messaging -->

	<bean id="messageSendingOperations" class="net.solarnetwork.common.osgi.service.DynamicServiceTracker">
		<argument ref="bundleContext"/>
		<property name="serviceClassName" value="org.springframework.messaging.simp.SimpMessageSendingOperations"/>
		<property name="serviceFilter" value="(channel=broker)"/>
		<property name="sticky" value="true"/>
	</bean>

	<service>
		<interfaces>
			<value>org.osgi.service.event.EventHandler</value>
			<value>net.solarnetwork.node.service.EventMessageRegistrar</value>
		</interfaces>
		<service-properties>
			<entry key="#{T(org.osgi.service.event.EventConstants).EVENT_TOPIC}">
				<beans:array value-type="java.lang.String">
					<beans:value>net/solarnetwork/*</beans:value>
				</beans:array>
			</entry>
		</service-properties>
		<bean class="net.solarnetwork.node.runtime.EventMessageBridge">
			<argument ref="messageSendingOperations"/>
			<argument ref="executorService"/>
		</bean>
	</service>

	<!-- PlatformService -->

	<service interface="net.solarnetwork.node.service.PlatformService">
		<bean class="net.solarnetwork.node.runtime.DefaultPlatformService">
			<property name="eventAdmin" ref="eventAdmin"/>
			<property name="messageSendingOperations" ref="messageSendingOperations"/>
		</bean>
	</service>

	<!-- OperationalModesService -->

	<service ref="opModesService">
		<interfaces>
			<value>net.solarnetwork.node.service.OperationalModesService</value>
			<value>net.solarnetwork.node.reactor.InstructionHandler</value>
			<value>net.solarnetwork.settings.SettingSpecifierProvider</value>
		</interfaces>
	</service>
	<bean id="opModesService" class="net.solarnetwork.node.runtime.DefaultOperationalModesService" 
			init-method="serviceDidStartup" destroy-method="serviceDidShutdown">
		<argument ref="settingDao"/>
		<argument ref="eventAdmin"/>
		<property name="taskScheduler" ref="taskScheduler"/>
		<property name="transactionManager" ref="txManager"/>
			<property name="messageSource">
				<bean class="org.springframework.context.support.ResourceBundleMessageSource">
					<property name="basename" value="net.solarnetwork.node.runtime.DefaultOperationalModesService"/>
				</bean>
			</property>
	</bean>

	<!-- PlaceholderService -->

	<service interface="net.solarnetwork.node.service.PlaceholderService">
		<bean class="net.solarnetwork.node.service.support.SettingsPlaceholderService">
			<argument ref="settingDao"/>
			<property name="staticPropertiesPath" value="${placeholders.dir}"/>
			<property name="taskExecutor" ref="taskExecutor"/>
		</bean>
	</service>

	<!-- User Metadata Service -->

	<bean id="userMetadataMessageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>net.solarnetwork.node.service.support.UserMetadataService</value>
				<value>net.solarnetwork.service.support.BasicIdentifiable</value>
			</list>
		</property>
	</bean>

	<bean id="setupService" class="net.solarnetwork.common.osgi.service.DynamicServiceTracker">
		<argument ref="bundleContext"/>
		<property name="serviceClassName" value="net.solarnetwork.node.setup.SetupService"/>
		<property name="sticky" value="true"/>
	</bean>

	<service interface="net.solarnetwork.settings.SettingSpecifierProviderFactory">
		<bean class="net.solarnetwork.settings.support.BasicSettingSpecifierProviderFactory">
			<property name="displayName" value="User Metadata Service"/>
			<property name="factoryUid" value="net.solarnetwork.node.metadata.user"/>
			<property name="messageSource" ref="userMetadataMessageSource"/>
		</bean>
	</service>

	<osgix:managed-service-factory factory-pid="net.solarnetwork.node.metadata.user"
			autowire-on-update="true" update-method="configurationChanged">
		<osgix:interfaces>
			<beans:value>net.solarnetwork.node.service.MetadataService</beans:value>
			<beans:value>net.solarnetwork.settings.SettingSpecifierProvider</beans:value>
		</osgix:interfaces>
		<osgix:service-properties>
			<beans:entry key="settingPid" value="net.solarnetwork.node.metadata.user"/>
		</osgix:service-properties>
		<bean class="net.solarnetwork.node.service.support.UserMetadataService">
			<argument ref="setupService"/>
			<property name="objectMapper" ref="objectMapper"/>
			<property name="messageSource" ref="userMetadataMessageSource"/>
		</bean>
	</osgix:managed-service-factory>

	<bean id="datumService" class="net.solarnetwork.node.runtime.DefaultDatumService">
		<argument>
			<bean class="org.springframework.util.AntPathMatcher" >
				<property name="cachePatterns" value="true"/>
				<property name="caseSensitive" value="false"/>
			</bean>
		</argument>
		<argument ref="objectMapper"/>
		<argument ref="datumMetadataService"/>
	</bean>
	
	<service ref="datumService">
		<interfaces>
			<value>net.solarnetwork.node.service.DatumService</value>
			<value>net.solarnetwork.node.reactor.InstructionHandler</value>
		</interfaces>
		<service-properties>
			<entry key="instruction">
				<array value-type="java.lang.String">
					<value>#{T(net.solarnetwork.node.reactor.InstructionHandler).TOPIC_SYSTEM_CONFIGURE}</value>
				</array>
			</entry>
		</service-properties>
	</service>

	<!--
		DatumQueue: serialized processing of captured datum.

		This queue serves as sort of serial queue for captured datum across all of SolarNode.
		For Datum to be added to the queue, processed, and then persisted (i.e. for SolarIn)
		we publish DatumDao services of rank 1000 that add datum to the queue instead of
		persisting them directly. Once processed, those datum are then filtered and persisted.
	 -->
	<bean id="datumQueue" class="net.solarnetwork.node.runtime.DefaultDatumQueue" init-method="startup" destroy-method="shutdown">
		<osgix:managed-properties persistent-id="net.solarnetwork.node.runtime.dq" autowire-on-update="true"/>
		<argument>
			<bean class="net.solarnetwork.node.dao.FilteringDatumDao">
				<argument>
					<bean class="net.solarnetwork.common.osgi.service.DynamicServiceTracker">
						<argument ref="bundleContext"/>
						<property name="serviceClassName" value="net.solarnetwork.node.dao.DatumDao"/>
						<property name="serviceFilter" value="(!(queue=true))"/>
						<property name="sticky" value="true"/>
					</bean>
				</argument>
				<argument ref="globalDatumFilterServiceOptional"/>
			</bean>
		</argument>
		<argument ref="eventAdmin"/>
		<argument>
			<bean class="net.solarnetwork.service.StaticOptionalService">
				<argument ref="datumService"/>
			</bean>
		</argument>
		<property name="messageSource">
			<bean class="org.springframework.context.support.ResourceBundleMessageSource">
				<property name="basenames">
					<list>
						<value>net.solarnetwork.node.runtime.DefaultDatumQueue</value>
					</list>
				</property>
			</bean>
		</property>
		<property name="datumFilterService">
			<bean class="net.solarnetwork.common.osgi.service.DynamicServiceTracker">
				<argument ref="bundleContext"/>
				<property name="serviceClassName" value="net.solarnetwork.service.DatumFilterService"/>
				<property name="serviceFilter" value="(!(role=global))"/>
				<property name="ignoreEmptyPropertyFilterValues" value="false"/>
				<property name="propertyFilters">
					<map>
						<entry key="uid" value=""/>
					</map>
				</property>
				<property name="sticky" value="true"/>
			</bean>
		</property>
	</bean>

	<bean id="globalDatumFilterServiceOptional" class="net.solarnetwork.service.StaticOptionalService">
		<argument ref="globalDatumFilterService"/>
	</bean>

	<service ref="datumQueue">
		<interfaces>
			<value>net.solarnetwork.node.service.DatumQueue</value>
			<value>net.solarnetwork.settings.SettingSpecifierProvider</value>
		</interfaces>
		<service-properties>
			<entry key="role">
				<array value-type="java.lang.String">
					<value>global</value>
					<value>datum-filter</value>
				</array>
			</entry>
		</service-properties>
	</service>

	<!--
		DatumDao that offers datum to DatumQueue for serialzied processing.
		This has a high ranking so it is preferred by default for all DatumDataSource jobs.
	 -->
	<service ranking="1000" interface="net.solarnetwork.node.dao.DatumDao">
		<service-properties>
			<entry key="datumClassName">
				<array value-type="java.lang.String">
					<value>net.solarnetwork.node.domain.GeneralLocationDatum</value>
					<value>net.solarnetwork.node.domain.GeneralNodeDatum</value>
				</array>
			</entry>
			<entry key="upload" value="false"/>
			<entry key="queue" value="true"/>
		</service-properties>
		<bean class="net.solarnetwork.node.dao.QueueDatumDao">
			<argument ref="datumQueue"/>
		</bean>
	</service>
	
	<!-- 
		System health support
	 -->
	<service interface="net.solarnetwork.node.service.SystemHealthService">
		<bean class="net.solarnetwork.node.runtime.DefaultSystemHealthService">
			<argument>
				<reference-list interface="net.solarnetwork.service.PingTest" availability="optional"/>
			</argument>
		</bean>
	</service>
	
	<!--
		Transient Setting DAO
	 -->
	<service interface="net.solarnetwork.node.dao.TransientSettingDao">
		<bean class="net.solarnetwork.node.dao.DefaultTransientSettingDao"/>
	</service>
	
	<!-- 
		Node Controls Service
	 -->
	<service interface="net.solarnetwork.node.reactor.InstructionHandler">
		<service-properties>
			<entry key="instruction">
				<list>
					<value>SystemConfiguration</value>
				</list>
			</entry>
		</service-properties>
		<bean class="net.solarnetwork.node.runtime.SimpleNodeControlsService">
			<argument ref="nodeControlProviders"/>
		</bean>
	</service>

	<!-- 
		Node Settings Service
	 -->
	<service interface="net.solarnetwork.node.reactor.InstructionHandler">
		<service-properties>
			<entry key="instruction">
				<list>
					<value>SystemConfiguration</value>
				</list>
			</entry>
		</service-properties>
		<bean class="net.solarnetwork.node.runtime.SimpleNodeSettingsService">
			<argument ref="settingsService"/>
		</bean>
	</service>
	
	<!-- 
		Node Packages Service
	 -->
	<service interface="net.solarnetwork.node.reactor.InstructionHandler">
		<service-properties>
			<entry key="instruction">
				<list>
					<value>SystemConfiguration</value>
				</list>
			</entry>
		</service-properties>
		<bean class="net.solarnetwork.node.runtime.SimpleNodePackagesService">
			<argument ref="platformPackageServices"/>
		</bean>
	</service>

	<!-- 
		DatumExpression Service
	 -->
	<service interface="net.solarnetwork.node.reactor.InstructionHandler">
		<service-properties>
			<entry key="instruction">
				<list>
					<value>DatumExpression</value>
				</list>
			</entry>
		</service-properties>
		<bean class="net.solarnetwork.node.runtime.SimpleDatumExpressionService">
			<argument ref="datumService"/>
			<argument ref="opModesService"/>
			<property name="expressionServices">
				<bean class="net.solarnetwork.common.osgi.service.DynamicServiceTracker">
					<argument ref="bundleContext"/>
					<property name="serviceClassName" value="net.solarnetwork.service.ExpressionService"/>
				</bean>			
			</property>
			<property name="metadataService" ref="nodeMetadataService"/>
			<property name="locationService" ref="locationService"/>
			<property name="tariffScheduleProviders">
				<bean class="net.solarnetwork.common.osgi.service.DynamicServiceTracker">
					<argument ref="bundleContext"/>
					<property name="serviceClassName" value="net.solarnetwork.node.service.TariffScheduleProvider"/>
				</bean>			
			</property>
			<property name="localStateDao" ref="localStateDao"/>
		</bean>
	</service>
	
	<!-- 
		Simple ExecuteInstructions Service
	 -->
	<service interface="net.solarnetwork.node.reactor.InstructionHandler">
		<service-properties>
			<entry key="instruction">
				<list>
					<value>ExecuteInstructions</value>
				</list>
			</entry>
		</service-properties>
		<bean class="net.solarnetwork.node.runtime.SimpleExecuteInstructionsService">
			<argument ref="objectMapper"/>
			<argument ref="instructionExecutionService"/>
		</bean>
	</service>
	
	<!-- 
		Security Token Service
	 -->
	<service interface="net.solarnetwork.node.service.SecurityTokenService">
		<bean class="net.solarnetwork.node.runtime.DefaultSecurityTokenService">
			<argument>
				<bean class="net.solarnetwork.common.osgi.service.DynamicServiceTracker">
					<argument ref="bundleContext"/>
					<property name="serviceClassName" value="net.solarnetwork.node.dao.SecurityTokenDao"/>
					<property name="sticky" value="true"/>
				</bean>
			</argument>
		</bean>
	</service>
	
	<!-- 
		Local State Service
	 -->
	<service interface="net.solarnetwork.node.service.LocalStateService">
		<bean class="net.solarnetwork.node.runtime.DefaultLocalStateService">
			<argument ref="localStateDao"/>
		</bean>
	</service>
	
	<!-- 
		Datum JSON ObjectCodec - designed for SolarFlux upload support
	-->
	<service>
		<interfaces>
			<value>net.solarnetwork.codec.ObjectCodec</value>
			<value>net.solarnetwork.codec.ObjectEncoder</value>
			<value>net.solarnetwork.codec.ObjectDecoder</value>
		</interfaces>
		<service-properties>
			<entry key="function">
				<list>
					<value>node</value>
					<value>datum</value>
				</list>
			</entry>
			<entry key="objectType" value="java.util.Map"/>
			<entry key="encoding" value="json"/>
		</service-properties>
		<bean class="net.solarnetwork.node.runtime.JsonDatumObjectCodec"/>
	</service>

</blueprint>
