<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:osgix="http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:ctx="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.osgi.org/xmlns/blueprint/v1.0.0
		http://www.osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd
		http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium
		http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium/gemini-blueprint-compendium.xsd
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.2.xsd">

	<bean id="instructionExecutionService" class="net.solarnetwork.common.osgi.service.DynamicServiceTracker">
		<argument ref="bundleContext"/>
		<property name="serviceClassName" value="net.solarnetwork.node.reactor.InstructionExecutionService"/>
		<property name="sticky" value="true"/>
	</bean>

	<bean id="eventAdmin" class="net.solarnetwork.common.osgi.service.DynamicServiceTracker">
		<argument ref="bundleContext"/>
		<property name="serviceClassName" value="org.osgi.service.event.EventAdmin"/>
		<property name="sticky" value="true"/>
	</bean>

	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>net.solarnetwork.node.control.virtual.ControlGroup</value>
				<value>net.solarnetwork.service.support.BasicIdentifiable</value>
			</list>
		</property>
	</bean>

	<bean id="providers" class="net.solarnetwork.common.osgi.service.DynamicServiceTracker">
		<argument ref="bundleContext"/>
		<property name="serviceClassName" value="net.solarnetwork.node.service.NodeControlProvider"/>
	</bean>

	<!-- Published Services -->
	
	<service interface="net.solarnetwork.settings.SettingSpecifierProviderFactory">
		<bean class="net.solarnetwork.settings.support.BasicSettingSpecifierProviderFactory">
			<property name="displayName" value="Control Group"/>
			<property name="factoryUid" value="net.solarnetwork.node.control.virtual.ControlGroup"/>
			<property name="messageSource" ref="messageSource"/>
		</bean>
	</service>
	
	<osgix:managed-service-factory factory-pid="net.solarnetwork.node.control.virtual.ControlGroup" autowire-on-update="true">
		<osgix:interfaces>
			<beans:value>net.solarnetwork.node.service.NodeControlProvider</beans:value>
			<beans:value>net.solarnetwork.node.reactor.InstructionHandler</beans:value>
			<beans:value>net.solarnetwork.settings.SettingSpecifierProvider</beans:value>
			<beans:value>org.osgi.service.event.EventHandler</beans:value>
		</osgix:interfaces>
		<osgix:service-properties>
			<beans:entry key="settingPid" value="net.solarnetwork.node.control.virtual.ControlGroup"/>
			<beans:entry key="#{T(org.osgi.service.event.EventConstants).EVENT_TOPIC}">
				<beans:array value-type="java.lang.String">
					<beans:value>#{T(net.solarnetwork.node.service.NodeControlProvider).EVENT_TOPIC_CONTROL_INFO_CHANGED}</beans:value>
				</beans:array>
			</beans:entry>
			<beans:entry key="instruction">
				<beans:list>
					<beans:value>SetControlParameter</beans:value>
				</beans:list>
			</beans:entry>
		</osgix:service-properties>
		<bean class="net.solarnetwork.node.control.virtual.ControlGroup">
			<argument>
				<bean class="net.solarnetwork.common.osgi.service.DynamicServiceTracker">
					<argument ref="bundleContext"/>
					<property name="serviceClassName" value="net.solarnetwork.node.service.NodeControlProvider"/>
					<property name="ignoreEmptyPropertyFilterValues" value="false"/>
					<property name="propertyFilters">
						<map>
							<entry key="groupUid" value=""/>
						</map>
					</property>
				</bean>	
			</argument>
			<argument ref="instructionExecutionService"/>
			<argument ref="eventAdmin"/>
			<property name="messageSource" ref="messageSource"/>
		</bean>
	</osgix:managed-service-factory>
	
</blueprint>
