/* Overall page settings */

html {
	background-color: white;
	color: black;
}

body {
    border: 0px;
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 11pt;
}

div.content {
	background-color: #F0F0F0;
	margin: 20px auto;
	padding: 20px;
	-moz-border-radius: 1em;
    border-radius: 1em;
}

table {
	margin-left:2em;
}

div.global-error {
	border: 1px solid #c00;
	padding: 1em;
	max-width: 480pt;
	margin-bottom: 1em;
	background-color: #fcc;
}

div.intro {
	max-width: 480pt;
	margin-bottom: 1em;
	margin-top: 1em;
}

/* Form elements */

div.caption {
	font-style: italic;
	font-size: 80%;
	color: #666;
}

div.error input[type=text] {
	background-color: #fcc;
}

div.field {
	margin-bottom: 6pt;
}

div.field label {
	float: left;
	padding-right: 1em;
}

div.field span.error {
	font-size: 80%;
}

div.input label {
	margin-top: 2pt;
}

fieldset {
	border: none;
}

form {
	max-width: 480pt;
}

label {
	font-weight: bold;
}

span.error {
	color: #c00;
}
