/* Login form */

form.login-form div.button-group {
	margin-left: 60pt;
}

form.login-form div.caption {
	margin-left: 60pt;
}

form.login-form input[type=text],
form.login-form input[type=password] {
	width: 180pt;
}

form.login-form label {
	width: 60pt;
	padding-right: 0;
}

form.login-form span.error {
	margin-left: 60pt;
}
