/* Global form */

input#network-port {
	width: 40pt;
}

/* New Node form */

form.new-node-form div.button-group {
	margin-left: 120pt;
}

form.new-node-form div.caption {
	margin-left: 120pt;
}

form.new-node-form input[type=text],
form.new-node-form input[type=password] {
	width: 180pt;
}

form.new-node-form label {
	width: 120pt;
	padding-right: 0;
}

form.new-node-form span.error {
	margin-left: 120pt;
}

/* Verify Network form */

form.verify-network-form div.button-group {
	margin-left: 120pt;
}

form.verify-network-form div.caption {
	margin-left: 120pt;
}

form.verify-network-form label {
	width: 120pt;
	padding-right: 0;
}

form.verify-network-form span.error {
	margin-left: 120pt;
}
