<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:osgix="http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="
		http://www.osgi.org/xmlns/blueprint/v1.0.0
		http://www.osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd
		http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium
		http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium/gemini-blueprint-compendium.xsd
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">
	
	<!-- Serial Modbus Network -->
	
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>net.solarnetwork.node.io.modbus.jamod.JamodSerialModbusNetwork</value>
				<value>net.solarnetwork.node.io.modbus.support.AbstractModbusNetwork</value>
			</list>
		</property>
	</bean>
	
	<service interface="net.solarnetwork.node.settings.SettingSpecifierProviderFactory">
		<bean class="net.solarnetwork.node.settings.support.BasicSettingSpecifierProviderFactory">
			<property name="displayName" value="Modbus serial connection"/>
			<property name="factoryUID" value="net.solarnetwork.node.io.modbus"/>
			<property name="messageSource" ref="messageSource"/>
		</bean>
	</service>

	<osgix:managed-service-factory factory-pid="net.solarnetwork.node.io.modbus" autowire-on-update="true">
		<osgix:interfaces>
			<beans:value>net.solarnetwork.node.io.modbus.ModbusNetwork</beans:value>
			<beans:value>net.solarnetwork.node.settings.SettingSpecifierProvider</beans:value>
		</osgix:interfaces>
		<osgix:service-properties>
			<beans:entry key="settingPid" value="net.solarnetwork.node.io.modbus"/>
		</osgix:service-properties>
		<bean class="net.solarnetwork.node.io.modbus.jamod.JamodSerialModbusNetwork">
			<property name="messageSource" ref="messageSource"/>
		</bean>
	</osgix:managed-service-factory>
	
	<!-- TCP Modbus Network -->
	
	<bean id="messageSourceTcp" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>net.solarnetwork.node.io.modbus.jamod.JamodTcpModbusNetwork</value>
				<value>net.solarnetwork.node.io.modbus.support.AbstractModbusNetwork</value>
			</list>
		</property>
	</bean>
	
	<service interface="net.solarnetwork.node.settings.SettingSpecifierProviderFactory">
		<bean class="net.solarnetwork.node.settings.support.BasicSettingSpecifierProviderFactory">
			<property name="displayName" value="Modbus TCP connection"/>
			<property name="factoryUID" value="net.solarnetwork.node.io.modbus.tcp"/>
			<property name="messageSource" ref="messageSourceTcp"/>
		</bean>
	</service>
	
	<osgix:managed-service-factory factory-pid="net.solarnetwork.node.io.modbus.tcp" autowire-on-update="true">
		<osgix:interfaces>
			<beans:value>net.solarnetwork.node.io.modbus.ModbusNetwork</beans:value>
			<beans:value>net.solarnetwork.node.settings.SettingSpecifierProvider</beans:value>
		</osgix:interfaces>
		<osgix:service-properties>
			<beans:entry key="settingPid" value="net.solarnetwork.node.io.modbus.tcp"/>
		</osgix:service-properties>
		<bean class="net.solarnetwork.node.io.modbus.jamod.JamodTcpModbusNetwork">
			<property name="messageSource" ref="messageSourceTcp"/>
		</bean>
	</osgix:managed-service-factory>
	
	<!-- UDP Modbus Network -->
	
	<bean id="messageSourceUdp" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>net.solarnetwork.node.io.modbus.jamod.JamodUdpModbusNetwork</value>
				<value>net.solarnetwork.node.io.modbus.support.AbstractModbusNetwork</value>
			</list>
		</property>
	</bean>
	
	<service interface="net.solarnetwork.node.settings.SettingSpecifierProviderFactory">
		<bean class="net.solarnetwork.node.settings.support.BasicSettingSpecifierProviderFactory">
			<property name="displayName" value="Modbus UDP connection"/>
			<property name="factoryUID" value="net.solarnetwork.node.io.modbus.udp"/>
			<property name="messageSource" ref="messageSourceUdp"/>
		</bean>
	</service>
	
	<osgix:managed-service-factory factory-pid="net.solarnetwork.node.io.modbus.udp" autowire-on-update="true">
		<osgix:interfaces>
			<beans:value>net.solarnetwork.node.io.modbus.ModbusNetwork</beans:value>
			<beans:value>net.solarnetwork.node.settings.SettingSpecifierProvider</beans:value>
		</osgix:interfaces>
		<osgix:service-properties>
			<beans:entry key="settingPid" value="net.solarnetwork.node.io.modbus.udp"/>
		</osgix:service-properties>
		<bean class="net.solarnetwork.node.io.modbus.jamod.JamodUdpModbusNetwork">
			<property name="messageSource" ref="messageSourceUdp"/>
		</bean>
	</osgix:managed-service-factory>
	
</blueprint>
