<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="
		http://www.osgi.org/xmlns/blueprint/v1.0.0
		http://www.osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- Service References -->
	
	<reference id="locationServiceRef" availability="optional" interface="net.solarnetwork.node.LocationService">
		<reference-listener ref="locationService" bind-method="onBind" unbind-method="onUnbind"/>
	</reference>

	<bean id="locationService" class="net.solarnetwork.util.OptionalServiceTracker">
		<property name="service" ref="locationServiceRef"/>
	</bean>

	<bean id="eventAdmin" class="net.solarnetwork.util.DynamicServiceTracker">
		<property name="bundleContext" ref="bundleContext"/>
		<property name="serviceClassName" value="org.osgi.service.event.EventAdmin"/>
	</bean>
	
	<!-- Published Services -->

	<service ref="mockPriceConsumptionDatumDataSource" ranking="-1">
		<interfaces>
			<value>net.solarnetwork.node.DatumDataSource</value>
			<value>net.solarnetwork.node.MultiDatumDataSource</value>
		</interfaces>
		<service-properties>
			<entry key="datumClassName" value="net.solarnetwork.node.consumption.ConsumptionDatum"/>
		</service-properties>
	</service>
	
	<!-- Mock supporting services -->
	
	<bean id="mockConsumptionDatumDao" class="net.solarnetwork.node.consumption.mock.MockConsumptionDatumDao"/>
		
	<bean id="mockConsumptionDatumDataSource" class="net.solarnetwork.node.consumption.mock.MockConsumptionDatumDataSource">
		<property name="eventAdmin" ref="eventAdmin"/>
	</bean>

	<bean id="mockPriceConsumptionDatumDataSource" class="net.solarnetwork.node.support.LocationDatumDataSource"
		factory-method="getInstance">
		<argument ref="mockConsumptionDatumDataSource"/>
		<argument ref="locationService"/>
	</bean>
	
</blueprint>
