service.factoryPid = net.solarnetwork.jdbc.pool.hikari
serviceProperty.db = node-metrics
dataSourceFactory.filter = (osgi.jdbc.driver.class=org.h2.Driver)
pingTest.query = VALUES CURRENT_DATE
minimumIdle = 1
maximumPoolSize = 3
factory.exceptionHandlerSupport = true

# Local dev
dataSource.url = jdbc:h2:./var/solarnode-metrics-h2
dataSource.user = sa
dataSource.password = 
