<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:ctx="http://www.springframework.org/schema/context"
	xmlns:osgix="http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="
		http://www.osgi.org/xmlns/blueprint/v1.0.0
		http://www.osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd
		http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium
		http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium/gemini-blueprint-compendium.xsd
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.2.xsd">

	<reference id="locationServiceRef" availability="optional" interface="net.solarnetwork.node.LocationService">
		<reference-listener ref="locationService" bind-method="onBind" unbind-method="onUnbind"/>
	</reference>

	<bean id="locationService" class="net.solarnetwork.util.OptionalServiceTracker">
		<property name="service" ref="locationServiceRef"/>
	</bean>
		
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>net.solarnetwork.node.datum.carrel.dts.DTSConsumptionDatumDataSource</value>
				<value>net.solarnetwork.node.io.modbus.ModbusDeviceSupport</value>
			</list>
		</property>
	</bean>
	
	<bean id="settingsFactory" 
		class="net.solarnetwork.node.settings.support.BasicSettingSpecifierProviderFactory">
		<property name="displayName" value="DTS series watt meter"/>
		<property name="factoryUID" value="net.solarnetwork.node.datum.carrel.dts"/>
		<property name="messageSource" ref="messageSource"/>
	</bean>

	<!-- Published Services -->
	
	<service ref="settingsFactory" interface="net.solarnetwork.node.settings.SettingSpecifierProviderFactory"/>
	
	<osgix:managed-service-factory factory-pid="net.solarnetwork.node.datum.carrel.dts" autowire-on-update="true">
		<osgix:interfaces>
			<beans:value>net.solarnetwork.node.DatumDataSource</beans:value>
			<beans:value>net.solarnetwork.node.settings.SettingSpecifierProvider</beans:value>
		</osgix:interfaces>
		<osgix:service-properties>
			<beans:entry key="datumClassName" value="net.solarnetwork.node.consumption.ConsumptionDatum"/>
			<beans:entry key="settingPid" value="net.solarnetwork.node.datum.carrel.dts"/>
		</osgix:service-properties>
		<bean class="net.solarnetwork.node.support.LocationDatumDataSource">
			<property name="delegate">
				<bean class="net.solarnetwork.node.datum.carrel.dts.DTSConsumptionDatumDataSource">
					<property name="messageSource" ref="messageSource"/>
					<property name="modbusNetwork">
						<bean class="net.solarnetwork.util.DynamicServiceTracker">
							<property name="bundleContext" ref="bundleContext"/>
							<property name="serviceClassName" 
								value="net.solarnetwork.node.io.modbus.ModbusNetwork"/>
							<property name="propertyFilters">
								<map>
									<entry key="UID" value="Serial Port"/>
								</map>
							</property>
						</bean>	
					</property>
				</bean>
			</property>
			<property name="locationService" ref="locationService"/>
		</bean>
	</osgix:managed-service-factory>
	
</blueprint>
