###############################################################################
# job.syncBackup.cron <cron expression>
# 
# A cron expression for the job that syncs the Derby database directory to
# a backup location using an OS tool such as rsync. By default this is 
# disabled via the year parameter being set to 2099.

job.syncBackup.cron = 0 0/10 * * * ?


###############################################################################
# job.syncBackup.destinationPath <path>
# 
# The path to backup the Derby database to via the syncBackup job.

job.syncBackup.destinationPath = var/db-bak

