###############################################################################
# net.solarnetwork.node.setup Configuration Admin properties
###############################################################################

###############################################################################
# SetupService.hostName   <host>
# SetupService.hostPort   <integer>
# 
# The default host name and port for the SolarNet service to talk to.

SetupService.nodeId = -1
SetupService.hostPort = 11443
SetupService.forceTLS = true

SetupService.solarInUrlPrefix = /solarin/u

