<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:osgix="http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:ctx="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.osgi.org/xmlns/blueprint/v1.0.0
		http://www.osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd
		http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium
		http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium/gemini-blueprint-compendium.xsd
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.2.xsd">

	<bean id="dayMessageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>net.solarnetwork.node.weather.nz.metservice.MetserviceDayDatumDataSource</value>
				<value>net.solarnetwork.node.weather.nz.metservice.MetserviceSupport</value>
				<value>net.solarnetwork.node.service.support.BaseIdentifiable</value>
			</list>
		</property>
	</bean>

	<bean id="dayJobMessageSource" class="net.solarnetwork.support.PrefixedMessageSource">
		<property name="prefix" value="datumDataSource."/>
		<property name="delegate">
			<bean class="net.solarnetwork.support.PrefixedMessageSource">
				<property name="prefix" value="delegate."/>
				<property name="delegate">
					<bean class="org.springframework.context.support.ResourceBundleMessageSource">
						<property name="basenames" value="net.solarnetwork.node.service.support.WeatherLocationDatumDataSource"/>
						<property name="parentMessageSource" ref="dayMessageSource"/>
					</bean>
				</property>
			</bean>
		</property>
	</bean>
		
	<bean id="weatherMessageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>net.solarnetwork.node.weather.nz.metservice.MetserviceWeatherDatumDataSource</value>
				<value>net.solarnetwork.node.weather.nz.metservice.MetserviceSupport</value>
				<value>net.solarnetwork.node.service.support.BaseIdentifiable</value>
			</list>
		</property>
	</bean>

	<bean id="weatherJobMessageSource" class="net.solarnetwork.support.PrefixedMessageSource">
		<property name="prefix" value="datumDataSource."/>
		<property name="delegate">
			<bean class="net.solarnetwork.support.PrefixedMessageSource">
				<property name="prefix" value="delegate."/>
				<property name="delegate">
					<bean class="org.springframework.context.support.ResourceBundleMessageSource">
						<property name="basenames" value="net.solarnetwork.node.service.support.WeatherLocationDatumDataSource"/>
						<property name="parentMessageSource" ref="weatherMessageSource"/>
					</bean>
				</property>
			</bean>
		</property>
	</bean>
		
	<bean id="locationService" class="net.solarnetwork.common.osgi.service.DynamicServiceTracker">
		<argument ref="bundleContext"/>
		<property name="serviceClassName" value="net.solarnetwork.node.LocationService"/>
	</bean>	

	<bean id="datumQueue" class="net.solarnetwork.common.osgi.service.DynamicServiceTracker">
		<argument ref="bundleContext"/>
		<property name="serviceClassName" value="net.solarnetwork.node.service.DatumQueue"/>
		<property name="sticky" value="true"/>
	</bean>	

	<reference id="objectMapperService" 
		interface="net.solarnetwork.service.ObjectMapperService"
		filter="(function=node)"/>
		
	<bean id="objectMapper" class="com.fasterxml.jackson.databind.ObjectMapper" 
		factory-ref="objectMapperService" factory-method="getObjectMapper"/>
	
	<!-- Published Services -->
	
	<service interface="net.solarnetwork.settings.SettingSpecifierProviderFactory">
		<bean class="net.solarnetwork.settings.support.BasicSettingSpecifierProviderFactory">
			<property name="displayName" value="New Zealand Metservice day information"/>
			<property name="factoryUID" value="net.solarnetwork.node.weather.nz.metservice.day"/>
			<property name="messageSource" ref="dayMessageSource"/>
		</bean>
	</service>
	
	<osgix:managed-service-factory factory-pid="net.solarnetwork.node.weather.nz.metservice.day" autowire-on-update="true">
		<osgix:interfaces>
			<beans:value>net.solarnetwork.node.job.ManagedTriggerAndJobDetail</beans:value>
			<beans:value>net.solarnetwork.settings.SettingSpecifierProvider</beans:value>
		</osgix:interfaces>
		<osgix:service-properties>
			<beans:entry key="settingPid" value="net.solarnetwork.node.weather.nz.metservice.day"/>
		</osgix:service-properties>
		<bean class="net.solarnetwork.node.job.SimpleManagedTriggerAndJobDetail">
			<property name="trigger">
				<bean class="net.solarnetwork.node.job.RandomizedCronTriggerFactoryBean">
					<property name="name" value="nzMetserviceDayDatumPollTrigger"/>
					<property name="cronExpression" value="0 15 2,8,14,18 * * ?"/>
					<property name="misfireInstructionName" value="MISFIRE_INSTRUCTION_DO_NOTHING"/>
					<property name="randomSecond" value="true"/>
				</bean>
			</property>
			<property name="jobDetail">
				<bean class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
					<property name="name" value="nzMetserviceDayDatumPollJob"/>
					<property name="jobClass" value="net.solarnetwork.node.job.DatumDataSourcePollJob"/>
					<property name="jobDataAsMap">
						<map>
							<entry key="datumQueue" value-ref="datumQueue"/>
							<entry key="multiDatumDataSource">
								<bean class="net.solarnetwork.node.service.support.LocationDatumDataSource">
									<property name="messageSource" ref="dayJobMessageSource"/>
									<property name="delegate">
										<bean class="net.solarnetwork.node.weather.nz.metservice.MetserviceDayDatumDataSource">
											<property name="objectMapper" ref="objectMapper"/>
											<property name="messageSource" ref="dayMessageSource"/>
										</bean>
									</property>
									<property name="locationService" ref="locationService"/>
									<property name="requireLocationService" value="true"/>
									<property name="locationType" value="day"/>
									<property name="messageBundleBasename" value="net.solarnetwork.node.service.support.WeatherLocationDatumDataSource"/>
								</bean>
							</entry>
						</map>
					</property>
				</bean>
			</property>
		</bean>
	</osgix:managed-service-factory>
	
	<service interface="net.solarnetwork.settings.SettingSpecifierProviderFactory">
		<bean class="net.solarnetwork.settings.support.BasicSettingSpecifierProviderFactory">
			<property name="displayName" value="New Zealand Metservice weather information"/>
			<property name="factoryUID" value="net.solarnetwork.node.weather.nz.metservice.weather"/>
			<property name="messageSource" ref="weatherMessageSource"/>
		</bean>
	</service>

	<osgix:managed-service-factory factory-pid="net.solarnetwork.node.weather.nz.metservice.weather" autowire-on-update="true">
		<osgix:interfaces>
			<beans:value>net.solarnetwork.node.job.ManagedTriggerAndJobDetail</beans:value>
			<beans:value>net.solarnetwork.settings.SettingSpecifierProvider</beans:value>
		</osgix:interfaces>
		<osgix:service-properties>
			<beans:entry key="settingPid" value="net.solarnetwork.node.weather.nz.metservice.weather"/>
		</osgix:service-properties>
		<bean class="net.solarnetwork.node.job.SimpleManagedTriggerAndJobDetail">
			<property name="trigger">
				<bean class="net.solarnetwork.node.job.RandomizedCronTriggerFactoryBean">
					<property name="name" value="nzMetserviceWeatherDatumPollTrigger"/>
					<property name="cronExpression" value="0 10/20 * * * ?"/>
					<property name="misfireInstructionName" value="MISFIRE_INSTRUCTION_DO_NOTHING"/>
					<property name="randomSecond" value="true"/>
				</bean>
			</property>
			<property name="jobDetail">
				<bean class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
					<property name="name" value="nzMetserviceWeatherDatumPOllJob"/>
					<property name="jobClass" value="net.solarnetwork.node.job.DatumDataSourcePollJob"/>
					<property name="jobDataAsMap">
						<map>
							<entry key="datumQueue" value-ref="datumQueue"/>
							<entry key="multiDatumDataSource">
								<bean class="net.solarnetwork.node.service.support.LocationDatumDataSource">
									<property name="messageSource" ref="weatherJobMessageSource"/>
									<property name="delegate">
										<bean class="net.solarnetwork.node.weather.nz.metservice.MetserviceWeatherDatumDataSource">
											<property name="objectMapper" ref="objectMapper"/>
											<property name="messageSource" ref="weatherMessageSource"/>
										</bean>
									</property>
									<property name="locationService" ref="locationService"/>
									<property name="requireLocationService" value="true"/>
									<property name="locationType" value="weather"/>
									<property name="messageBundleBasename" value="net.solarnetwork.node.service.support.WeatherLocationDatumDataSource"/>
								</bean>
							</entry>
						</map>
					</property>
				</bean>
			</property>
		</bean>
	</osgix:managed-service-factory>
	
</blueprint>
