<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:osgix="http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:ctx="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.osgi.org/xmlns/blueprint/v1.0.0
		http://www.osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd
		http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium
		http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium/gemini-blueprint-compendium.xsd
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<bean id="daySettingsFactory" 
		class="net.solarnetwork.node.settings.support.BasicSettingSpecifierProviderFactory">
		<property name="displayName" value="New Zealand Metservice day information"/>
		<property name="factoryUID" value="net.solarnetwork.node.weather.nz.metservice.day"/>
		<property name="messageSource">
			<bean class="org.springframework.context.support.ResourceBundleMessageSource">
				<property name="basenames" value="net.solarnetwork.node.weather.nz.metservice.MetserviceDayDatumDataSource"/>
			</bean>
		</property>
	</bean>
	
	<bean id="weatherSettingsFactory" 
		class="net.solarnetwork.node.settings.support.BasicSettingSpecifierProviderFactory">
		<property name="displayName" value="New Zealand Metservice weather information"/>
		<property name="factoryUID" value="net.solarnetwork.node.weather.nz.metservice.weather"/>
		<property name="messageSource">
			<bean class="org.springframework.context.support.ResourceBundleMessageSource">
				<property name="basenames" value="net.solarnetwork.node.weather.nz.metservice.MetserviceWeatherDatumDataSource"/>
			</bean>
		</property>
	</bean>
	
	<!-- Published Services -->
	
	<service ref="daySettingsFactory" interface="net.solarnetwork.node.settings.SettingSpecifierProviderFactory"/>
	<service ref="weatherSettingsFactory" interface="net.solarnetwork.node.settings.SettingSpecifierProviderFactory"/>
	
	<osgix:managed-service-factory factory-pid="net.solarnetwork.node.weather.nz.metservice.day" autowire-on-update="true">
		<osgix:interfaces>
			<beans:value>net.solarnetwork.node.DatumDataSource</beans:value>
			<beans:value>net.solarnetwork.node.settings.SettingSpecifierProvider</beans:value>
		</osgix:interfaces>
		<osgix:service-properties>
			<beans:entry key="datumClassName" value="net.solarnetwork.node.weather.DayDatum"/>
			<beans:entry key="settingPid" value="net.solarnetwork.node.weather.nz.metservice.day"/>
		</osgix:service-properties>
		<bean class="net.solarnetwork.node.weather.nz.metservice.MetserviceDayDatumDataSource"/>
	</osgix:managed-service-factory>

	<osgix:managed-service-factory factory-pid="net.solarnetwork.node.weather.nz.metservice.weather" autowire-on-update="true">
		<osgix:interfaces>
			<beans:value>net.solarnetwork.node.DatumDataSource</beans:value>
			<beans:value>net.solarnetwork.node.settings.SettingSpecifierProvider</beans:value>
		</osgix:interfaces>
		<osgix:service-properties>
			<beans:entry key="datumClassName" value="net.solarnetwork.node.weather.WeatherDatum"/>
			<beans:entry key="settingPid" value="net.solarnetwork.node.weather.nz.metservice.weather"/>
		</osgix:service-properties>
		<bean class="net.solarnetwork.node.weather.nz.metservice.MetserviceWeatherDatumDataSource"/>
	</osgix:managed-service-factory>

</blueprint>
