<!DOCTYPE html>
<html>
<head>
    <title>Edit Note</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../../css/bootstrap.css">
	<link rel="stylesheet" href="../../../css/solarnode.css">
	<link rel="stylesheet" href="../../../css/fonts.css">
	<link rel="stylesheet" href="../../../css/bootstrap-icons.css">
</head>
<body>
<form id="edit-setting-note-modal" data-th-replace="~{inc/modals :: modal_form(
			id = edit-setting-note-modal, 
			action = @{/a/settings/notes}, 
			title = #{settings.note.edit.title},
			body = ~{::#edit-setting-note-modal//.modal-body}, 
			footer = ~{::#edit-setting-note-modal//.modal-footer},
			staticModal = true)}">

	<div class="modal-body">
		<p data-th-text="#{settings.note.edit.intro}">
			Edit note here.
		</p>
		<label class="form-label" for="edit-setting-note-help" id="edit-setting-note-name"></label>
		<div class="card card-body bg-light" id="edit-setting-note-help">
			<span class="form-text"></span>
		</div>

		<label class="form-label mt-3" for="edit-setting-note-note" data-th-text="#{note.label}">Note</label>
		<textarea id="edit-setting-note-note" name="values[0].note" class="form-control" maxlength="4096"></textarea>
	</div>

	<div class="modal-footer">
		<input type="hidden" id="edit-setting-note-provider" name="values[0].providerKey" value="">
		<input type="hidden" id="edit-setting-note-instance" name="values[0].instanceKey" value="">
		<input type="hidden" id="edit-setting-note-key" name="values[0].key" value="">
		<button type="button" class="btn btn-secondary" data-th-replace="~{inc/buttons :: button_close_modal}">Close</button>
		<button type="submit" class="btn btn-primary" data-th-text="#{settings.note.edit.save.label}">Save</button>
	</div>

</form>
</body>
</html>