<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:osgix="http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:ctx="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.osgi.org/xmlns/blueprint/v1.0.0
		http://www.osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd
		http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium
		http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium/gemini-blueprint-compendium.xsd
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.1.xsd">

	<reference-list id="providers" interface="net.solarnetwork.node.NodeControlProvider" availability="optional"/>

	<service ref="job" interface="net.solarnetwork.node.job.TriggerAndJobDetail"/>

	<bean id="generalNodeDatumDao" class="net.solarnetwork.util.DynamicServiceTracker">
		<property name="bundleContext" ref="bundleContext"/>
		<property name="serviceClassName" value="net.solarnetwork.node.dao.DatumDao"/>
		<property name="serviceFilter" value="(datumClassName=net.solarnetwork.node.domain.GeneralNodeDatum)"/>
	</bean>

	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>net.solarnetwork.node.control.simple.SimpleControlInfoDatumDataSource</value>
			</list>
		</property>
	</bean>
	
	<bean id="jobMessageSource" class="net.solarnetwork.node.util.PrefixedMessageSource">
		<property name="prefix" value="multiDatumDataSource."/>
		<property name="delegate" ref="messageSource"/>
	</bean>	

	<bean id="job" class="net.solarnetwork.node.job.SimpleTriggerAndJobDetail">
		<osgix:managed-properties 
				persistent-id="net.solarnetwork.node.control.simple" 
				autowire-on-update="true"/>
		<property name="trigger">
			<bean class="net.solarnetwork.node.job.RandomizedCronTriggerBean">
				<property name="name" value="simpleControlLoggerTrigger"/>
				<property name="jobName" value="simpleControlLoggerJob"/>
				<property name="cronExpression" value="5 * * * * ?"/>
				<property name="misfireInstructionName" value="MISFIRE_INSTRUCTION_DO_NOTHING"/>
				<property name="randomSecond" value="true"/>
			</bean>
		</property>
		<property name="jobDetail">
			<bean class="org.springframework.scheduling.quartz.JobDetailBean">
				<property name="name" value="simpleControlLoggerJob"/>
				<property name="jobClass" value="net.solarnetwork.node.job.DatumDataSourceManagedLoggerJob"/>
				<property name="jobDataAsMap">
					<map>
						<entry key="datumDao" value-ref="generalNodeDatumDao"/>
						<entry key="multiDatumDataSource">
							<bean class="net.solarnetwork.node.control.simple.SimpleControlInfoDatumDataSource">
								<property name="messageSource" ref="jobMessageSource"/>
								<property name="providers" ref="providers"/>
							</bean>
						</entry>
					</map>
				</property>
			</bean>
		</property>
		<property name="messageSource" ref="messageSource"/>
	</bean>

</blueprint>
