<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:ctx="http://www.springframework.org/schema/context"
	xmlns:osgix="http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="
		http://www.osgi.org/xmlns/blueprint/v1.0.0
		http://www.osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd
		http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium
		http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium/gemini-blueprint-compendium.xsd
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.2.xsd">

	<!-- Configuration -->
	
	<osgix:cm-properties id="cfg" persistent-id="net.solarnetwork.node.upload.bulkjsonwebpost">
		<beans:prop key="job.bulkDatumUploader.cron">20 0/5 * * * ?</beans:prop>
	</osgix:cm-properties>
	
	<!-- Service References -->
	
	<reference-list id="datumDaoCollection" availability="optional"
		interface="net.solarnetwork.node.dao.DatumDao"/>

	<reference-list id="sampleTransformers" availability="optional" 
		interface="net.solarnetwork.node.domain.GeneralDatumSamplesTransformer"/>
		
	<reference id="identityService" availability="optional"
		interface="net.solarnetwork.node.IdentityService"/>
	
	<bean id="reactorService" class="net.solarnetwork.util.DynamicServiceTracker">
		<property name="bundleContext" ref="bundleContext"/>
		<property name="serviceClassName" value="net.solarnetwork.node.reactor.ReactorService"/>
	</bean>
	
	<bean id="sslService" class="net.solarnetwork.util.DynamicServiceTracker">
		<property name="bundleContext" ref="bundleContext"/>
		<property name="serviceClassName" value="net.solarnetwork.node.SSLService"/>
	</bean>
	
	<reference id="settingDao" interface="net.solarnetwork.node.dao.SettingDao"/>
	
	<bean id="objectMapper" class="net.solarnetwork.util.ObjectMapperFactoryBean">
		<property name="serializers">
			<list>
				<bean class="net.solarnetwork.node.support.GeneralNodeDatumSerializer">
					<property name="sampleTransformers" ref="sampleTransformers"/>	
				</bean>
				<bean class="net.solarnetwork.node.support.DatumSerializer"/>
				<bean class="net.solarnetwork.node.support.InstructionSerializer"/>
				<bean class="net.solarnetwork.node.support.NodeControlInfoSerializer"/>
			</list>
		</property>
	</bean>
	
	<bean id="eventAdmin" class="net.solarnetwork.util.DynamicServiceTracker">
		<property name="bundleContext" ref="bundleContext"/>
		<property name="serviceClassName" value="org.osgi.service.event.EventAdmin"/>
	</bean>

	<!-- Published Services -->
	
	<service ref="bulkDatumUploader" interface="net.solarnetwork.node.job.TriggerAndJobDetail"/>
	
	<service ref="bulkJsonWebPostUploadService">
		<interfaces>
			<value>net.solarnetwork.node.reactor.InstructionAcknowledgementService</value>
			<value>net.solarnetwork.node.settings.SettingSpecifierProvider</value>
		</interfaces>
	</service>

	<!-- Supporting Services -->
	
	<ctx:property-placeholder properties-ref="cfg"/>
	
	<bean id="bulkJsonWebPostUploadService"
		class="net.solarnetwork.node.upload.bulkjsonwebpost.BulkJsonWebPostUploadService">
		<osgix:managed-properties persistent-id="net.solarnetwork.node.upload.bulkjsonwebpost.BulkJsonWebPostUploadService" 
             autowire-on-update="true"/>
		<property name="objectMapper" ref="objectMapper"/>
		<property name="identityService" ref="identityService"/>
		<property name="reactorService" ref="reactorService"/>
		<property name="sslService" ref="sslService"/>
		<property name="url" value="/bulkCollector.do"/>
		<property name="uploadEmptyDataset" value="false"/>
		<property name="messageSource">
			<bean class="org.springframework.context.support.ResourceBundleMessageSource">
				<property name="basenames" value="net.solarnetwork.node.upload.bulkjsonwebpost.BulkJsonWebPostUploadService"/>
			</bean>
		</property>
		<property name="eventAdmin" ref="eventAdmin"/>
	</bean>
	
	<!-- Upload job -->
	
	<bean id="bulkDatumUploader" class="net.solarnetwork.node.job.SimpleTriggerAndJobDetail">
		<property name="trigger" ref="bulkDatumUploadTrigger"/>
		<property name="jobDetail" ref="bulkDatumUploadJob"/>
		<property name="messageSource">
			<bean class="org.springframework.context.support.ResourceBundleMessageSource">
				<property name="basenames" value="net.solarnetwork.node.upload.bulkjsonwebpost.JOBS"/>
			</bean>
		</property>
	</bean>
	
	<bean id="bulkDatumUploadTrigger" class="net.solarnetwork.node.job.RandomizedCronTriggerFactoryBean">
		<property name="jobDetail" ref="bulkDatumUploadJob"/>
		<property name="name" value="Bulk Datum Uploader"/>
		<property name="description" value="Upload locally collected data to SolarNetwork"/>
		<property name="cronExpression" value="${job.bulkDatumUploader.cron}"/>
		<property name="misfireInstructionName" value="MISFIRE_INSTRUCTION_DO_NOTHING"/>
		<property name="randomSecond" value="true"/>
	</bean>
	
	<bean id="bulkDatumUploadJob" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="net.solarnetwork.node.job.DatumDaoBulkUploadJob"/>
		<property name="jobDataAsMap">
			<map>
				<entry key="daos" value-ref="datumDaoCollection"/>
				<entry key="uploadService" value-ref="bulkJsonWebPostUploadService"/>
			</map>
		</property>
	</bean>
	
</blueprint>
