<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:ctx="http://www.springframework.org/schema/context"
	xmlns:osgix="http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="
		http://www.osgi.org/xmlns/blueprint/v1.0.0
		http://www.osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd
		http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium
		http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium/gemini-blueprint-compendium.xsd
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.2.xsd">

	<bean id="settingsFactory" 
		class="net.solarnetwork.node.settings.support.BasicSettingSpecifierProviderFactory">
		<property name="displayName" value="Delimited energy price lookup"/>
		<property name="factoryUID" value="net.solarnetwork.node.price.delimited"/>
		<property name="messageSource">
			<bean class="org.springframework.context.support.ResourceBundleMessageSource">
				<property name="basenames" value="net.solarnetwork.node.price.delimited.DelimitedPriceDatumDataSource"/>
			</bean>
		</property>
	</bean>
	
	<!-- Service References -->
	
	<bean id="locationService" class="net.solarnetwork.util.DynamicServiceTracker">
		<property name="bundleContext" ref="bundleContext"/>
		<property name="serviceClassName" value="net.solarnetwork.node.LocationService"/>
	</bean>	

	<bean id="generalLocationDatumDao" class="net.solarnetwork.util.DynamicServiceTracker">
		<property name="bundleContext" ref="bundleContext"/>
		<property name="serviceClassName" value="net.solarnetwork.node.dao.DatumDao"/>
		<property name="serviceFilter" value="(datumClassName=net.solarnetwork.node.domain.GeneralLocationDatum)"/>
	</bean>
	
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames" value="net.solarnetwork.node.price.delimited.DelimitedPriceDatumDataSource"/>
	</bean>

	<bean id="jobMessageSource" class="net.solarnetwork.node.util.PrefixedMessageSource">
		<property name="prefix" value="datumDataSource."/>
		<property name="delegate">
			<bean class="net.solarnetwork.node.util.PrefixedMessageSource">
				<property name="prefix" value="delegate."/>
				<property name="delegate">
					<bean class="org.springframework.context.support.ResourceBundleMessageSource">
						<property name="basenames" value="net.solarnetwork.node.support.PriceLocationDatumDataSource"/>
						<property name="parentMessageSource" ref="messageSource"/>
					</bean>
				</property>
			</bean>
		</property>
	</bean>	

	<!-- Published Services -->
	
	<service ref="settingsFactory" interface="net.solarnetwork.node.settings.SettingSpecifierProviderFactory"/>
	
	<osgix:managed-service-factory factory-pid="net.solarnetwork.node.price.delimited" autowire-on-update="true">
		<osgix:interfaces>
			<beans:value>net.solarnetwork.node.job.ManagedTriggerAndJobDetail</beans:value>
			<beans:value>net.solarnetwork.node.settings.SettingSpecifierProvider</beans:value>
		</osgix:interfaces>
		<osgix:service-properties>
			<beans:entry key="settingPid" value="net.solarnetwork.node.price.delimited"/>
		</osgix:service-properties>
		<bean class="net.solarnetwork.node.job.SimpleManagedTriggerAndJobDetail">
			<property name="trigger">
				<bean class="net.solarnetwork.node.job.RandomizedCronTriggerFactoryBean">
					<property name="name" value="delimitedPriceDatumLoggerTrigger"/>
					<property name="cronExpression" value="5 1/5 * * * ?"/>
					<property name="misfireInstructionName" value="MISFIRE_INSTRUCTION_DO_NOTHING"/>
					<property name="randomSecond" value="true"/>
				</bean>
			</property>
			<property name="jobDetail">
				<bean class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
					<property name="name" value="delimitedPriceDatumLoggerJob"/>
					<property name="jobClass" value="net.solarnetwork.node.job.DatumDataSourceManagedLoggerJob"/>
					<property name="jobDataAsMap">
						<map>
							<entry key="datumDao" value-ref="generalLocationDatumDao"/>
							<entry key="datumDataSource">
								<bean class="net.solarnetwork.node.support.LocationDatumDataSource">
									<property name="messageSource" ref="jobMessageSource"/>
									<property name="delegate">
										<bean id="priceDataSource" class="net.solarnetwork.node.price.delimited.DelimitedPriceDatumDataSource">
											<property name="messageSource" ref="messageSource"/>
										</bean>
									</property>
									<property name="locationService" ref="locationService"/>
									<property name="requireLocationService" value="true"/>
									<property name="locationType" value="price"/>
								</bean>
							</entry>
						</map>
					</property>
				</bean>
			</property>
		</bean>
	</osgix:managed-service-factory>

</blueprint>
