<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:ctx="http://www.springframework.org/schema/context"
	xmlns:osgix="http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="
		http://www.osgi.org/xmlns/blueprint/v1.0.0
		http://www.osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd
		http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium
		http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium/gemini-blueprint-compendium.xsd
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.2.xsd">

	<reference id="settingsService" interface="net.solarnetwork.node.settings.SettingsService"/>

	<bean id="datumMetadataService" class="net.solarnetwork.common.osgi.service.DynamicServiceTracker">
		<argument ref="bundleContext"/>
		<property name="serviceClassName" value="net.solarnetwork.node.service.DatumMetadataService"/>
		<property name="sticky" value="true"/>
	</bean>
		
	<bean id="datumQueue" class="net.solarnetwork.common.osgi.service.DynamicServiceTracker">
		<argument ref="bundleContext"/>
		<property name="serviceClassName" value="net.solarnetwork.node.service.DatumQueue"/>
		<property name="sticky" value="true"/>
	</bean>

	<bean id="datumService" class="net.solarnetwork.common.osgi.service.DynamicServiceTracker">
		<argument ref="bundleContext"/>
		<property name="serviceClassName" value="net.solarnetwork.node.service.DatumService"/>
		<property name="sticky" value="true"/>
	</bean>

	<bean id="placeholderService" class="net.solarnetwork.common.osgi.service.DynamicServiceTracker">
		<argument ref="bundleContext"/>
		<property name="serviceClassName" value="net.solarnetwork.node.service.PlaceholderService"/>
		<property name="sticky" value="true"/>
	</bean>

	<bean id="identityService" class="net.solarnetwork.common.osgi.service.DynamicServiceTracker">
		<argument ref="bundleContext"/>
		<property name="serviceClassName" value="net.solarnetwork.node.service.IdentityService"/>
		<property name="sticky" value="true"/>
	</bean>	
	
	<bean id="locationService" class="net.solarnetwork.common.osgi.service.DynamicServiceTracker">
		<argument ref="bundleContext"/>
		<property name="serviceClassName" value="net.solarnetwork.node.service.LocationService"/>
		<property name="sticky" value="true"/>
	</bean>

	<bean id="httpRequestFactory" class="net.solarnetwork.common.osgi.service.DynamicServiceTracker">
		<argument ref="bundleContext"/>
		<property name="serviceClassName" value="org.springframework.http.client.ClientHttpRequestFactory"/>
		<property name="sticky" value="true"/>
	</bean>

	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>net.solarnetwork.node.datum.csv.CsvDatumDataSource</value>
				<value>net.solarnetwork.node.service.support.DatumDataSourceSupport</value>
				<value>net.solarnetwork.service.support.BasicIdentifiable</value>
			</list>
		</property>
		<property name="parentMessageSource">
			<bean class="net.solarnetwork.support.PrefixedMessageSource">
				<property name="prefix" value="propConfigsItem."/>
				<property name="delegate">
					<bean class="org.springframework.context.support.ResourceBundleMessageSource">
						<property name="basenames">
							<list>
								<value>net.solarnetwork.node.datum.csv.CsvPropertyConfig</value>
								<value>net.solarnetwork.domain.datum.NumberDatumSamplePropertyConfig</value>
							</list>
						</property>
					</bean>
				</property>
			</bean>
		</property>
	</bean>

	<bean id="jobMessageSource" class="net.solarnetwork.support.PrefixedMessageSource">
		<property name="prefix" value="multiDatumDataSource."/>
		<property name="delegate" ref="messageSource"/>
	</bean>

	<!-- Published Services -->

	<service>
		<interfaces>
			<value>net.solarnetwork.settings.SettingSpecifierProvider</value>
			<value>net.solarnetwork.node.settings.SettingResourceHandler</value>
		</interfaces>
		<bean class="net.solarnetwork.node.datum.csv.CsvDatumDataSourceCsvConfigurer">
			<argument value="false"/>
			<argument ref="settingsService"/>
			<argument ref="identityService"/>
			<argument value="net.solarnetwork.node.datum.csv"/>
			<property name="messageSource">
				<bean class="org.springframework.context.support.ResourceBundleMessageSource">
					<property name="basenames">
						<list>
							<value>net.solarnetwork.node.datum.csv.CsvDatumDataSourceCsvConfigurer</value>
							<value>net.solarnetwork.service.support.BasicIdentifiable</value>
						</list>
					</property>
				</bean>
			</property>
		</bean>
	</service>
	
	<service interface="net.solarnetwork.settings.SettingSpecifierProviderFactory">
		<bean class="net.solarnetwork.settings.support.BasicSettingSpecifierProviderFactory">
			<property name="displayName" value="CSV Resource"/>
			<property name="factoryUid" value="net.solarnetwork.node.datum.csv"/>
			<property name="messageSource" ref="messageSource"/>
		</bean>
	</service>

	<osgix:managed-service-factory factory-pid="net.solarnetwork.node.datum.csv"
			autowire-on-update="true" update-method="configurationChanged">
		<osgix:interfaces>
			<beans:value>net.solarnetwork.node.job.ManagedJob</beans:value>
		</osgix:interfaces>
		<bean class="net.solarnetwork.node.job.SimpleManagedJob" 
				init-method="serviceDidStartup" destroy-method="serviceDidShutdown">
			<argument>
				<bean class="net.solarnetwork.node.job.DatumDataSourcePollManagedJob">
					<property name="datumMetadataService" ref="datumMetadataService"/>
					<property name="datumQueue" ref="datumQueue"/>
					<property name="multiDatumDataSource">
						<bean class="net.solarnetwork.node.datum.csv.CsvDatumDataSource">
							<property name="datumMetadataService" ref="datumMetadataService"/>
							<property name="messageSource" ref="jobMessageSource"/>
							<property name="datumService" ref="datumService"/>
							<property name="placeholderService" ref="placeholderService"/>
							<property name="includeSourceIdSetting" value="true"/>
							<property name="httpRequestFactory" ref="httpRequestFactory"/>
							<property name="httpRequestCustomizer">
								<bean class="net.solarnetwork.common.osgi.service.DynamicServiceTracker">
									<argument ref="bundleContext"/>
									<property name="serviceClassName" value="net.solarnetwork.web.jakarta.service.HttpRequestCustomizerService"/>
									<property name="sticky" value="true"/>
									<property name="requirePropertyFilter" value="true"/>
								</bean>
							</property>
						</bean>
					</property>
				</bean>
			</argument>
			<argument value="0 * * * * *"/>
			<property name="serviceProviderConfigurations">
				<map>
					<entry key="datumDataSource">
						<bean class="net.solarnetwork.node.job.SimpleServiceProviderConfiguration">
							<property name="interfaces">
								<list>
									<value>net.solarnetwork.node.service.MultiDatumDataSource</value>
								</list>
							</property>
							<property name="properties">
								<map>
									<entry key="datumClassName" value="net.solarnetwork.node.domain.datum.SimpleDatum"/>
								</map>
							</property>
						</bean>
					</entry>
				</map>
			</property>
		</bean>
	</osgix:managed-service-factory>

	<!-- Location datum source -->

	<service>
		<interfaces>
			<value>net.solarnetwork.settings.SettingSpecifierProvider</value>
			<value>net.solarnetwork.node.settings.SettingResourceHandler</value>
		</interfaces>
		<bean class="net.solarnetwork.node.datum.csv.CsvDatumDataSourceCsvConfigurer">
			<argument value="true"/>
			<argument ref="settingsService"/>
			<argument ref="identityService"/>
			<argument value="net.solarnetwork.node.datum.csv.loc"/>
			<property name="messageSource">
				<bean class="org.springframework.context.support.ResourceBundleMessageSource">
					<property name="basenames">
						<list>
							<value>net.solarnetwork.node.datum.csv.CsvLocationDatumDataSourceCsvConfigurer</value>
							<value>net.solarnetwork.node.datum.csv.CsvDatumDataSourceCsvConfigurer</value>
							<value>net.solarnetwork.service.support.BasicIdentifiable</value>
						</list>
					</property>
				</bean>
			</property>
		</bean>
	</service>
	
	<bean id="locMessageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>net.solarnetwork.node.datum.csv.CsvLocationDatumDataSource</value>
				<value>net.solarnetwork.node.service.support.LocationDatumDataSource</value>
			</list>
		</property>
		<property name="parentMessageSource" ref="messageSource"/>
	</bean>
	
	<bean id="locJobMessageSource" class="net.solarnetwork.support.PrefixedMessageSource">
		<property name="prefix" value="multiDatumDataSource."/>
		<property name="delegate">
			<bean class="net.solarnetwork.support.PrefixedMessageSource">
				<property name="prefix" value="delegate."/>
				<property name="delegate" ref="locMessageSource"/>
			</bean>
		</property>
	</bean>

	<service interface="net.solarnetwork.settings.SettingSpecifierProviderFactory">
		<bean class="net.solarnetwork.settings.support.BasicSettingSpecifierProviderFactory">
			<property name="displayName" value="CSV Location Resource"/>
			<property name="factoryUid" value="net.solarnetwork.node.datum.csv.loc"/>
			<property name="messageSource" ref="locMessageSource"/>
		</bean>
	</service>

	<osgix:managed-service-factory factory-pid="net.solarnetwork.node.datum.csv.loc"
			autowire-on-update="true" update-method="configurationChanged">
		<osgix:interfaces>
			<beans:value>net.solarnetwork.node.job.ManagedJob</beans:value>
		</osgix:interfaces>
		<bean class="net.solarnetwork.node.job.SimpleManagedJob" 
				init-method="serviceDidStartup" destroy-method="serviceDidShutdown">
			<argument>
				<bean class="net.solarnetwork.node.job.DatumDataSourcePollManagedJob">
					<property name="datumMetadataService" ref="datumMetadataService"/>
					<property name="datumQueue" ref="datumQueue"/>
					<property name="multiDatumDataSource">
						<bean class="net.solarnetwork.node.service.support.LocationDatumDataSource">
							<property name="messageSource" ref="locJobMessageSource"/>
							<property name="delegate">
								<bean class="net.solarnetwork.node.datum.csv.CsvDatumDataSource">
									<argument value="net.solarnetwork.node.datum.csv.loc"/>
									<property name="datumMetadataService" ref="datumMetadataService"/>
									<property name="messageSource" ref="locMessageSource"/>
									<property name="datumService" ref="datumService"/>
									<property name="placeholderService" ref="placeholderService"/>
									<property name="sourceId" value="csv-location"/>
									<property name="includeSourceIdSetting" value="false"/>
									<property name="httpRequestFactory" ref="httpRequestFactory"/>
									<property name="httpRequestCustomizer">
										<bean class="net.solarnetwork.common.osgi.service.DynamicServiceTracker">
											<argument ref="bundleContext"/>
											<property name="serviceClassName" value="net.solarnetwork.web.jakarta.service.HttpRequestCustomizerService"/>
											<property name="sticky" value="true"/>
											<property name="requirePropertyFilter" value="true"/>
										</bean>
									</property>
								</bean>
							</property>
							<property name="locationService" ref="locationService"/>
							<property name="requireLocationService" value="true"/>
							<property name="includeLocationTypeSetting" value="true"/>
						</bean>
					</property>
				</bean>
			</argument>
			<argument value="0 * * * * *"/>
		</bean>
	</osgix:managed-service-factory>

</blueprint>
