<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:ctx="http://www.springframework.org/schema/context"
	xmlns:osgix="http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="
		http://www.osgi.org/xmlns/blueprint/v1.0.0
		http://www.osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd
		http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium
		http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium/gemini-blueprint-compendium.xsd
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.2.xsd">
	
	<reference id="settingDao" interface="net.solarnetwork.node.dao.SettingDao" availability="optional"/>

	<reference id="identityService" interface="net.solarnetwork.node.IdentityService" availability="optional"/>
	
	<bean id="passwordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>

	<bean id="settingsUserService" class="net.solarnetwork.node.setup.security.SettingsUserService">
		<argument ref="settingDao"/>
		<argument ref="identityService"/>
		<argument ref="passwordEncoder"/>
	</bean>

	<!-- Published Services -->
	
	<service ref="passwordEncoder" interface="org.springframework.security.crypto.password.PasswordEncoder">
		<service-properties>
			<entry key="app" value="node"/>
		</service-properties>
	</service>

	<service ref="settingsUserService">
		<interfaces>
			<value>net.solarnetwork.node.setup.UserService</value>
			<value>org.springframework.security.core.userdetails.UserDetailsService</value>
		</interfaces>
		<service-properties>
			<entry key="app" value="node"/>
		</service-properties>
	</service>

</blueprint>
